{% extends 'master.html' %}
{% block above_content %}
   <section class="top-image" id="afterstudies-top-page">
       <div class="content-wrapper">
           <div class="content-container">
               <h1>Efter dina studier</h1>
               <hr>
               <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
           </div>
       </div>
   </section>
{% endblock %}
{% block content %}
    <h3>här ska det vara kanske ett block med en bildoch text som visar vilken sida man är på</h3>
    <p>sidan är tänkt att svara på frågan "vart leder I/Ii?"</p>
    {% include 'isektionen/sokande/efterstudier/framtiden.html' %}
    {% include 'isektionen/sokande/efterstudier/statistik.html' %}
    {% include 'isektionen/sokande/efterstudier/intervju.html' %}
{% endblock %}