{% extends 'master.html' %}

{% block links %}
    <li class="nav-link"><a href="{% url 'utbildning' %}">Utbildning</a></li>
    <li class="nav-link"><a href="{% url 'studentliv' %}">Studentliv</a></li>
    <li class="nav-link"><a href="{% url 'efterstudier' %}">Efter studierna</a></li>
{% endblock %}

{% block content %}
    <section class="after-studies-hero">
        <div class="hero-content">
            <h1 class="hero-heading">Under uppbyggnad</h1>
            <hr class="hero-divider">
            <p class="hero-text">Denna sida är under uppbyggnad och innehållet kommer inom kort!</p>
        </div>
    </section>
{% endblock %}
</section>