{% extends 'master.html' %}

{% block links %}
    <li class="nav-link"><a href="{% url 'sokande' %}">Sökande</a></li>
    <li class="nav-link"><a href="{% url 'utbildning' %}">Utbildning</a></li>
    <li class="nav-link"><a href="{% url 'studentliv' %}">Studentliv</a></li>
{% endblock %}

{% block content %}
    <section id="afterstudies-content">
    <h3>Efter studietiden</h3>
    <p>Frågar man tidigare studenter från Industriell ekonomi i Linköping lyfter de ofta fram

kompisarna från studietiden som det viktigaste de tog med sig. Den starka gemenskapen och

sammanhållningen, tillsammans med den långa traditionen att utbilda ingenjörer inom

Industriell ekonomi, leder till att studenter kan dra nytta av Sveriges största nätverk av I-

alumner i näringslivet. Nätverket är ett perfekt sätt för både studenter och utexaminerade

alumner att knyta kontakt, lära av varandra och få in en fot på arbetsmarknaden, antingen i

Sverige eller utomlands.</p>
    {% include 'isektionen/sokande/efterstudier/framtiden.html' %}
    {% include 'isektionen/sokande/efterstudier/statistik.html' %}
    {% include 'isektionen/sokande/efterstudier/intervju.html' %}
{% endblock %}

</section>