{% extends 'master.html' %}

{% block links %}
    <li class="nav-item nav-link"><a href="{% url 'sokande' %}">Sökande</a></li>
    {% if i_resan %}
        <li class="active-nav-item nav-link"><a href="{% url 'i-resan' %}">I-Resan</a></li>
    {% else %}
        <li class="nav-link"><a href="{% url 'i-resan' %}">I-Resan</a></li>
    {% endif %}
    <li class="nav-link"><a href="{% url 'utbildning' %}">Utbildning</a></li>
    <li class="nav-link"><a href="{% url 'bostad' %}">Bostad</a></li>
    <li class="nav-link"><a href="{% url 'studentliv' %}">Studentliv</a></li>
    <li class="nav-link"><a href="{% url 'FAQ' %}">FAQ</a></li>
{% endblock %}

{% block content %}
    <section class="education-hero">
        <div class="hero-content">
            <h1 class="hero-heading">I-resan</h1>
            <hr class="hero-divider">
            <p class="hero-text">
                Funderar du på att söka Industriell Ekonomi eller har du redan bestämt dig? Då är I-resan något för
                dig! I-resan är ett tvådagarsevenemang för 60 potentiella I-studenter.
                Vi riktar oss i första hand till dig som är studerande gymnasieelev i årskurs 3.
            </p>
        </div>
    </section>
    <section class="i-resan">
        <h1 class="section-header">Den 7-8 februari 2017 går I-resan av stapeln i Linköping!</h1>
        <h2>Vad ingår?</h2>
        <ul class="bullet-list">
            <li>
                Två heldagar på Linköpings universitet
            </li>
            <li>
                Inspirationsföreläsning
            </li>
            <li>
                Lunch + fika både dagarna
            </li>
            <li>
                Caselösning
            </li>
            <li>
                Matematikföreläsning
            </li>
            <li>
                Kvällssittning
            </li>
            <li>
                Rundvandring på campus med mingel och aktiviteter med I-sektionens föreningar och studenter
            </li>
            <li>
                Mingel och frågestund med studenter
            </li>
            <li>
                Boende på Scandic Väst
            </li>
            <li>
                Reseersättning upp till 500 kr
            </li>
        </ul>
        <p> </p>
        <p><b>
            Nu är anmälan för I-resan 2017 stängd och alla som har kommit med skall ha blivit kontaktade via mail. Om du är intresserad av att skriva upp dig på vår reservlista, hör av dig till <a href="mailto:projektledare@i-resan.se">projektledare@i-resan.se</a>!
        </b></p>
        <p>
            <em>Tänk på att anmälan är bindande!</em>
        </p>
        <p></p>
        <p>
            Undrar du över något?
            Tveka inte att kontakta oss på <a href="mailto:info@i-resan.se">info@i-resan.se</a>!
        </p>
        <p>
            Varmt välkomna, vi ses i Linköping!
        </p><p>
        <em>/Projektgruppen för I-resan</em>
    </p>


    </section>
{% endblock %}
