{% extends 'master.html' %}

{% block links %}
    <li class="nav-item nav-link"><a href="{% url 'sokande' %}">Sökande</a></li>
    {% if i_resan %}
        <li class="active-nav-item nav-link"><a href="{% url 'i-resan' %}">I-Resan</a></li>
    {% else %}
        <li class="nav-link"><a href="{% url 'i-resan' %}">I-Resan</a></li>
    {% endif %}
    <li class="nav-link"><a href="{% url 'utbildning' %}">Utbildning</a></li>
    <li class="nav-link"><a href="{% url 'bostad' %}">Bostad</a></li>
    <li class="nav-link"><a href="{% url 'studentliv' %}">Studentliv</a></li>
    <li class="nav-link"><a href="{% url 'FAQ' %}">FAQ</a></li>
{% endblock %}

{% block content %}
    <section class="iresan-hero">
        <div class="hero-content">
            <h1 class="hero-heading">I-resan</h1>
            <hr class="hero-divider">
            <p class="hero-text">
                Funderar du på att söka Industriell Ekonomi eller vill du prova på studentlivet i två dagar? Då är I-resan något för dig! I-resan är ett kostnadsfritt tvådagarsevenemang för 60 gymnasielever från hela Sverige. Vi riktar oss i första hand till elever på naturvetenskapliga och tekniska program i årskurs 3.
            </p>
        </div>
    </section>
    <section class="i-resan">
        <h1 class="section-header">Den 7-8 februari 2019 går I-resan av stapeln i Linköping!</h1>
        <h2>Vad ingår?</h2>
        <ul class="bullet-list">
            <li>
                Två heldagar på Linköpings universitet
            </li>
            <li>
                Boende på hotell
            </li>
            <li>
                Lunch + fika både dagarna
            </li>
            <li>
                Inspirationsföreläsning
            </li>
            <li>
                Matematikföreläsning
            </li>
            <li>
                Caselösning
            </li>
            <li>
                Kvällssittning
            </li>
            <li>
                Rundvandring på campus med mingel och aktiviteter med I-sektionens föreningar och studenter
            </li>
            <li>
                Mingel och frågestund med studenter
            </li>
            <li>
                Reseersättning upp till 250 kr
            </li>
        </ul>
        </br>
        <h2>Att tänka på:</h2>
        <ul class="bullet-list">
            <li>
                18-årsgräns på eventet
            </li>
            <li>
                Anmälan är bindande
            </li>
            <li>
                Man blir inte är garanterad en plats bara för att man fyllt i formuläret
            </li>
        </ul>
        </br>
        <p><b>
            Anmälan för I-resan 2019 är nu stängd. Om du vill anmäla dig som reserv kontakta <a href="mailto:projektledare@i-resan.se">projektledare@i-resan.se<a/>
        </b></p>
        </br>
        <p>
            Undrar du över något?
            Tveka inte att kontakta oss på <a href="mailto:anmalan@i-resan.se">anmalan@i-resan.se</a>!
        </p>
        <p>
            Varmt välkomna, vi ses i Linköping!
        </p><p>
        <em>/Projektgruppen för I-resan</em>
    </p>
    </br>
    </section>
{% endblock %}
