{% extends 'master.html' %}

{% block links %}
    <li class="nav-link"><a href="{% url 'sokande' %}">Sökande</a></li>
    <li class="nav-link"><a href="{% url 'utbildning' %}">Utbildning</a></li>
    <li class="nav-link"><a href="{% url 'studentliv' %}">Studentliv</a></li>
    <li class="nav-link"><a href="{% url 'efterstudier' %}">Efter studierna</a></li>
    {% if kontakt %}
        <li class="nav-link active-nav-item"><a href="{% url 'kontakt' %}">Kontakt</a></li>
    {% else %}
        <li class="nav-link"><a href="{% url 'kontakt' %}">Kontakt</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <section class="contacts-section">
        <h1 class="contacts-headline">Kontakt</h1>
        <div class="contacts-form">
            <form name="kontaktform" id="kontaktform" method="post" action="">
                {% csrf_token %}
                <fieldset>
                    <input type="text" name="namn" id="namn" placeholder="Namn"/> <br />
                    <input type="text" name="epost" id="epost" placeholder="E-post"/> <br />
                    <input type="text" name="subject" id="subject" placeholder="Ämne"/> <br />
                    <textarea name="meddelande" id="meddelande" cols="30" rows="5" placeholder="Meddelande"></textarea> <br />
                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-default">
                                Skicka meddelandet
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="contacts-content">
            <div class="contact-person">
                <p>
                    Lena-Lotta Kjellberg<br>
                    Studievägledare för Industriell ekonomi<br>
                    013-28 23 41<br>
                    studievagledare.i@liu.se<br>
                </p>
            </div>
            <div class="contact-person">
                <p>
                    Susann Årnfelt<br>
                    Studievägledare för Industriell ekonomi Internationell<br>
                    013-28 57 54<br>
                    studievagledare.i@liu.se<br>
                </p>
            </div>
            <div class="contact-person">
                <p>
                    Linköpings universitet<br>
                    581 83 Linköping<br>
                    013-28 10 00 (vx)<br>
                    <a href="http://www.liu.se" target="_blank">www.liu.se</a>
                </p>
            </div>
        </div>
    </section>
{% endblock %}
