{% extends 'master.html' %}

{% block content %}
    <section class="top-hero">
    <div class="hero-content">
        <h1 class="hero-heading">PLUGGA INDUSTRIELL EKONOMI</h1>
        <hr class="hero-divider">
        <p class="hero-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In schola desinis.
            Quod quidem iam fit etiam in Academia. Zenonis est, inquam, hoc Stoici. Nondum autem explanatum satis, erat,
            quid maxime natura vellet. Duo Reges: constructio interrete. At ego quem huic anteponam non audeo dicere;
        </p>
    </div>
    </section>
{% endblock %}

{% block after_scripts %}
<script>
    $(document).ready(
            load_instagram()

    )

</script>
{% endblock %}