{% extends 'master.html' %}
{% block links %}
    <li class="nav-link"><a href="{% url 'utbildning' %}">Utbildning</a></li>
    <li class="nav-link"><a href="{% url 'studentliv' %}">Studentliv</a></li>
    <li class="nav-link"><a href="{% url 'efterstudier' %}">Efter studierna</a></li>
{% endblock %}

{% block content %}
    <section class="applicant-hero">
        <div class="hero-content">
            <h1 class="hero-heading">PLUGGA INDUSTRIELL EKONOMI</h1>
            <hr class="hero-divider">
            <p class="hero-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In schola desinis.
                Quod quidem iam fit etiam in Academia. Zenonis est, inquam, hoc Stoici. Nondum autem explanatum satis, erat,
                quid maxime natura vellet. Duo Reges: constructio interrete. At ego quem huic anteponam non audeo dicere;
            </p>
        </div>
    </section>

    <div class="applicant-container">
        <section class="education">
            <h1 class="section-header">Utbildningen</h1>
            <p class="section-text">
                Kombinationen matematik, teknik, ekonomi och ledarskap ger I:aren en god helhetssyn som är intressant för de
                flesta företag, oavsett storlek och inriktning.
            </p>
            <a href="" class="action-button">Läs mer om utbildningen</a>
        </section>
        <section class="student-life">
            <h1 class="section-header">Studentlivet</h1>
            <p class="section-text">
                Sektionen för Industriell Ekonomi (I-sektionen) är landets största studentsektion och det finns mängder av
                utskott och föreningar att engagera sig i som är kopplade vår sektion. På I-sektionen i Linköping är det
                över 200 aktiva I-studenter som arbetar ideellt med allt från näringslivssamarbeten till att främja kontakten
                med utexaminerade alumner och anordna resor och stora fester.
            </p>
            <a href="#" class="action-button">Läs mer om studentlivet</a>
        </section>
    </div>
    <section class="blog-promo">
        <div class="promo-content">
            <h1 class="promo-heading">Spana in sektionsbloggen</h1>
            <p class="promo-text">
                På Sektionsbloggen hittar du aktuella får du en inblick i studentlivet. På bloggen skrivs även om event riktade
                till studenter som vill veta mer om hur det är att plugga på universitetet!
            </p>
            <a href="#" class="action-button">Spana in bloggen</a>
        </div>
    </section>
    <div class="applicant-container">
        <section class="after-studies">
            <h1 class="section-header">Efter studierna</h1>
            <p class="section-text">
                De flesta studenter har ofta sin första anställning klar redan innan examen. Intresset för civilingenjörer i
                industriell ekonomi med examen från Linköpings universitet är mycket stort i näringslivet.
                Detta tack vare deras driv, vana att arbeta i projekt samt förmåga till att lösa problem utifrån både ett
                tekniskt och ett ekonomiskt perspektiv.
            </p>
            <a class="action-button">Läs mer om efter studierna</a>
        </section>
    </div>

{% endblock %}

{% block after_scripts %}
    <script>
        $(document).ready(
                load_instagram()

        )

    </script>
{% endblock %}