{% extends 'master.html' %}

{% block links %}
    <li class="nav-link"><a href="{% url 'sokande' %}">Sökande</a></li>
    <li class="nav-link"><a href="{% url 'utbildning' %}">Utbildning</a></li>
    <li class="nav-link"><a href="{% url 'efterstudier' %}">Efter studierna</a></li>
{% endblock %}

{% block content %}
    <section id="student-life">
    {% include 'isektionen/sokande/studentliv/kalender.html' %}
    {% include 'isektionen/sokande/studentliv/engagemang.html' %}
    {% include 'isektionen/sokande/studentliv/bostad.html' %}
    </section>
{% endblock %}