{% extends 'master.html' %}
{% block links %}
    <li class="nav-link"><a href="{% url 'blog' %}">Blogg</a></li>
    <li class="nav-link"><a href="{% url 'sokande' %}">Sökande</a></li>
    <li class="nav-link active-nav-item"><a href="{% url 'foretag' %}">Företag</a></li>
    <li class="nav-link"><a onclick="anchor(this)" href="#contact-header">Kontakt</a></li>
{% endblock %}
{% block content %}

    <section class="">
        {% include 'isektionen/foretag/inledning.html' %}
        {% include 'isektionen/foretag/information.html' %}
        {% include 'isektionen/foretag/erbjudanden.html' %}
        {% include 'isektionen/foretag/samarbetspartner.html' %}
        {% include 'isektionen/foretag/foretagspresentationer.html' %}
        {% include 'isektionen/foretag/marknadsforing.html' %}
        {% include 'isektionen/foretag/team.html' %}
        {% include 'isektionen/foretag/kontakt.html' %}
    </section>
{% endblock %}

