{% extends 'master.html' %}
{% block content %}
    <div><h2>Gymnasiecaseet</h2>
    </div>
    <div class="education-content">

        <p>Intressant info om gymnasiecaset</p>

    </div>
    <div class="education-content" >
        <h2>Ekonomiska profiler</h2>
    </div>

    <div class="education-content"><h2>Årskurs 1</h2></div>

    <div class="education-content"><h2>Årskurs 2</h2></div>

    <div class="education-content"><h2>Årskurs 3</h2></div>

    <div class="education-content"><h2>Årskurs 4</h2></div>

    <div class="education-content"><h2>Årskurs 5</h2></div>


{% block links %}
              <li class="nav-link"><a href="{% url 'index' %}">I-Sektionen</a></li>
{% endblock %}
{% endblock %}