{% extends 'master.html' %}
{% block header %}
{% endblock %}
{% block content %}
    <section class="landing-hero">
        <div class="hero-content">
            <div class="hero-logo">
                <img src="https://s3.eu-central-1.amazonaws.com/isektionen-bildbank/ie_cirkel_pms.png" />
            </div>
            <p class="hero-message">Välkommen till</p>
            <hr class="hero-divider">
            <h1 class="hero-header">Sektionen för Industriell Ekonomi</h1>
        </div>
    </section>
    <section class="scroll-down">
        <!--<p><span class="chevron bottom"></span></p>-->
    </section>
    <div class="landing-content">

        <section class="sokande-foretag">
            <div class="sokande-foretag-description">
                <div class="section-header-with-icon">
                    <i class="fa fa-university"></i>
                    <h1 class="section-header">Utbildning</h1>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nos paucis ad haec additis finem faciamus
                    aliquando; Iam contemni non poteris. Apparet statim, quae sint officia, quae actiones.
                    Quod autem meum munus dicis non equidem recuso, sed te adiungo socium. Duo Reges: constructio interrete.
                    Mihi vero, inquit, placet agi subtilius et, ut ipse dixisti, pressius.
                </p>
                <a href="" class="action-button">Läs om utbildningen</a>
            </div>
            <div class="sokande-foretag-description">
                <div class="section-header-with-icon">
                    <i class="fa fa-building-o"></i>
                    <h1 class="section-header">Företag</h1>
                </div>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nos paucis ad haec additis finem faciamus
                    aliquando; Iam contemni non poteris. Apparet statim, quae sint officia, quae actiones.
                    Quod autem meum munus dicis non equidem recuso, sed te adiungo socium. Duo Reges: constructio interrete.
                    Mihi vero, inquit, placet agi subtilius et, ut ipse dixisti, pressius.
                </p>
                <a href="" class="action-button">Läs om samarbete</a>
            </div>
        </section>

        <section class="history">
            <div class="history-content">
                <h1 class="section-header">Orginalet sedan 1969</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nos paucis ad haec additis finem faciamus
                    aliquando; Iam contemni non poteris. Apparet statim, quae sint officia, quae actiones.
                    Quod autem meum munus dicis non equidem recuso, sed te adiungo socium. Duo Reges: constructio interrete.
                    Mihi vero, inquit, placet agi subtilius et, ut ipse dixisti, pressius.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nos paucis ad haec additis finem faciamus
                    aliquando; Iam contemni non poteris. Apparet statim, quae sint officia, quae actiones.
                    Quod autem meum munus dicis non equidem recuso, sed te adiungo socium. Duo Reges: constructio interrete.
                    Mihi vero, inquit, placet agi subtilius et, ut ipse dixisti, pressius.
                </p>
            </div>
        </section>

        <section class="instagram">
            <div class="instagram-content">
                <p class="instagram-account-link">
                    <i class="fa fa-instagram"></i>
                    <a href="https://www.instagram.com/industriellekonomi_liu/">@industriellekonomi_liu</a>
                </p>
                <div class="instagram-feed">
                    <ul class="instagram-pictures">
                    </ul>
                </div>
                </a>
            </div>
        </section>
    </div>

{% endblock %}

{% block js_document_ready %}
    load_instagram()
{% endblock %}