{% extends 'master.html' %}
{% load blog_tags %}

{% block content %}

    <section id="new-student-presentation">
    <div class="student-presentation-content-box">
        <h1>Ny student?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egestas ex non lectus lobortis bibendum.
            Maecenas metus lorem, tristique fringilla sem a, mattis fringilla urna. Mauris posuere pretium sagittis.
            Proin euismod, metus et eleifend facilisis, justo felis aliquam mi
        </p>
    </div>
    <div class="student-presentation-content-box">
    <h1>Senaste blogginlägget</h1>
      <div id="latest-blog-entry">
    {% get_last_entry as blog_entry %}
    {% for entry in blog_entry %}
    <h2>{{ entry.title }}</h2>
        <p>{{ entry.lead }}</p>
    <a href="{{ entry.get_absolute_url }}"> läs mer </a>
    {% endfor %}
    </div>
    </div>
    </section>



    <div id="box-container">


    </div>



{% endblock %}