{% extends 'master.html' %}
{% load blog_tags %}

{% block above_content %}
    <div id="js-parallax-window" class="parallax-window">
        <div class="parallax-static-content">
            <div class="box-parallax">
                <h1>Sökande</h1>
                <h4>Om du är sökande, möt mig aldrig!</h4>
            </div>
            <div class="box-parallax">
                <h1>Företag</h1>
                <h4>Företag, ge mig en god lunchföreläsnings-lunch!!!!</h4>
            </div>
        </div>
        <div id="js-parallax-background" class="parallax-background">
        </div>
    </div>
{% endblock %}


{% block content %}

    {% comment %}
    This is the parallax window on the top
    {% endcomment %}

    <section class="front-page">
        <div id="box-container">
            <div id="new-student-presentation">
                <div class="student-presentation-content-box">
                    <h1>Ny student? <a href="#test-anchor" class="smoothScroll">anchor-point</a></h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egestas ex non lectus lobortis bibendum.
                        Maecenas metus lorem, tristique fringilla sem a, mattis fringilla urna. Mauris posuere pretium sagittis.
                        Proin euismod, metus et eleifend facilisis, justo felis aliquam mi
                    </p>
                </div>
                <div class="student-presentation-content-box">
                    <h1>Senaste blogginlägget</h1>
                    <div id="latest-blog-entry">
                        {% get_last_entry as blog_entry %}
                        {% for entry in blog_entry %}
                            <h2>{{ entry.title }}</h2>
                            <p>{{ entry.lead }}</p>
                            <a href="{{ entry.get_absolute_url }}"> läs mer </a>
                        {% endfor %}
                        <h2>Instagram</h2>
                    </div>
                    <div id="instagramPics">
                        <div id="first-row">
                        </div>
                        <div id="caption">
                            <p class="caption-text">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="front-page">
        <h2><span class="section-header">Nästa sektion</span><a href="#header-anchor" class="smoothScroll"><span class="top-arrow">Upp</span></a></h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egestas ex non lectus lobortis bibendum.
            Maecenas metus lorem, tristique fringilla sem a, mattis fringilla urna. Mauris posuere pretium sagittis.
            Proin euismod, metus et eleifend facilisis, justo felis aliquam mi
        </p>
    </section>
    <section class="front-page-img">
    <img src="http://www.panavision.com/sites/default/files/users/heather.mayer/JW-2.jpg">

    </section>

    <section class="front-page">
        <h2><span class="section-header">Nästa sektion</span><a href="#header-anchor" class="smoothScroll"><span class="top-arrow">Upp</span></a></h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egestas ex non lectus lobortis bibendum.
            Maecenas metus lorem, tristique fringilla sem a, mattis fringilla urna. Mauris posuere pretium sagittis.
            Proin euismod, metus et eleifend facilisis, justo felis aliquam mi
        </p>
    </section>
    <section class="front-page-img">
        <img src="https://wallpaperscraft.com/image/tree_branches_snow_sky_blue_winter_north_south_trunk_61244_1920x1080.jpg">
    </section>

    <section class="front-page">
        <h2><span class="section-header">Nästa sektion</span><a href="#header-anchor" class="smoothScroll"><span class="top-arrow">Upp</span></a></h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egestas ex non lectus lobortis bibendum.
            Maecenas metus lorem, tristique fringilla sem a, mattis fringilla urna. Mauris posuere pretium sagittis.
            Proin euismod, metus et eleifend facilisis, justo felis aliquam mi
        </p>
    </section>

        <section class="front-page-img">
          <img src="http://allpicts.in/download/2097/2015/02/beautiful_nature_wallpaper_in_1080p_size_with_purpleviews-1920x1080.jpg/">
    </section>

    <section class="front-page" id="test-anchor">
        <h2><span class="section-header">Nästa sektion</span><a href="#header-anchor" class="smoothScroll"><span class="top-arrow">Upp</span></a></h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egestas ex non lectus lobortis bibendum.
            Maecenas metus lorem, tristique fringilla sem a, mattis fringilla urna. Mauris posuere pretium sagittis.
            Proin euismod, metus et eleifend facilisis, justo felis aliquam mi
        </p>
    </section>
</div>
{% endblock %}
