{% extends 'master.html' %}
{% block header %}
{% endblock %}

{% block container %}
id="landing-background"
{% endblock %}

{% block content %}
    <div id="landing-content-wrapper">
    <div id="landing_container">
            <div class="landing_section">
                <div class="welcome">
                    <img class=logo src="../../../../static/isektionen/logo_isektionen.png">
                    <p>Välkommen till</p>
                    <h1>Sektionen för Industriell Ekonomi</h1>
                    <hr>
                </div>
            </div>
            <div class="landing_section">
                    <p class="landing_usp">
                        <span style="font-weight: bold;">Originalet sedan 1969.</span> Phasellus ut blandit dolor. Nam eu purus non enim consequat rutrum. Praesent imperdiet, urna et tincidunt auctor, nisi sem porttitor risus, ut condimentum ex metus sit amet lectus. Integer accumsan nisl eget posuere lacinia.
                    </p>
            </div>
            <div class="landing_section">
                <div class="button-group">
                    <label>
                        <a href="{% url "sokande" %}" class="action-button-group-item">JAG ÄR EN SÖKANDE STUDENT</a>
                    </label>
                    <label>
                        <a href="{% url "foretag" %}" class="action-button-group-item">JAG ÄR ETT FÖRETAG</a>
                    </label>
                </div>
            </div>
        </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}