{% extends 'master.html' %}
{% block links %}

    {% if sokande %}
        <li class="nav-link active-nav-item"><a href="{% url 'sokande' %}">Sökande</a></li>
    {% else %}
        <li class="nav-link"><a href="{% url 'sokande' %}">Sökande</a></li>
    {% endif %}
    <li class="nav-link"><a href="{% url 'utbildning' %}">Utbildning</a></li>
    <li class="nav-link"><a href="{% url 'studentliv' %}">Studentliv</a></li>
    {% comment %}<li class="nav-link"><a href="{% url 'efterstudier' %}">Efter studierna</a></li> {% endcomment %}
    <li class="nav-link"><a href="{% url 'FAQ' %}">FAQ</a></li>
    <li class="nav-link"><a href="{% url 'kontakt' %}">Kontakt</a></li>
{% endblock %}

{% block content %}
    <section class="applicant-hero">
        <div class="hero-content">
            <h1 class="hero-heading">PLUGGA INDUSTRIELL EKONOMI</h1>
            <hr class="hero-divider">
            <p class="hero-text">
                På denna sidan har vi samlat information som är intressant för dig som kanske har tänkt att du ska plugga inom en snar framtid. Du hittar information om utbildningens innehåll, vad man kan göra utanför plugget (det som kallas studentliv) och vad du kan bli när du är färdig med utbildningen.
            </p>
        </div>
    </section>
    <section class="applicant-container">
        <h1 CLASS="section-header">Vad vill du veta mer om?</h1>
        <ul class="bullets">
            <li class="bullet">
                <div class="bullet-icon">
                    <i class="fa fa-book"></i>
                </div>
                <div class="bullet-content">
                    <h2>Vad lär man sig egentligen?</h2>
                    <p>
                        Kombinationen matematik, teknik, ekonomi och ledarskap ger I:aren en god helhetssyn som är intressant för de flesta företag, oavsett storlek och inriktning.
                        På denna sidan hittar du information om hur det är att plugga civilingengör i 5 år på universitet.
                    </p>
                    <a href="{% url 'utbildning' %}" class="action-button">Om utbildningen</a>
                </div>
            </li>
            {% comment %}
                <li class="bullet">
                    <div class="bullet-icon">
                        <i class="fa fa-home"></i>
                    </div>
                    <div class="bullet-content">
                        <h2>Var kan jag bo i Linköping?</h2>
                        <p>
                            Det finns flera olika bostadsköer och bostadsområden i Linköping. På denna sida hittar du all viktig information om hur du hittar så bra boende som möjlig i Linköping.
                        </p>
                        <a href="{% url 'utbildning' %}" class="action-button">Om bostad</a>
                    </div>
                </li>
            {% endcomment %}
            <li class="bullet">
                <div class="bullet-icon">
                    <i class="fa fa-bicycle"></i>
                </div>
                <div class="bullet-content">
                    <h2>Vad gör jag när jag inte pluggar?</h2>
                    <p>
                        Sektionen för Industriell Ekonomi (I-sektionen) är landets största studentsektion och det finns mängder av utskott och föreningar att engagera sig i som är kopplade vår sektion. På I-sektionen i Linköping är det över 200 aktiva I-studenter som arbetar ideellt med allt från näringslivssamarbeten till att främja kontakten med utexaminerade alumner och anordna resor och stora fester.
                    </p>
                    <a href="{% url 'utbildning' %}" class="action-button">Om studentlivet</a>
                </div>
            </li>
            {% comment %}
                <li class="bullet">
                    <div class="bullet-icon">
                        <i class="fa fa-briefcase"></i>
                    </div>
                    <div class="bullet-content">
                        <h2>Vad händer när jag är klar med utbildningen?</h2>
                        <p>
                            De flesta studenter har ofta sin första anställning klar redan innan examen. Intresset för civilingenjörer i industriell ekonomi med examen från Linköpings universitet är mycket stort i näringslivet. Detta tack vare deras driv, vana att arbeta i projekt samt förmåga till att lösa problem utifrån både ett tekniskt och ett ekonomiskt perspektiv.
                        </p>
                        <a href="{% url 'utbildning' %}" class="action-button">Om efter studierna</a>
                    </div>
                </li>
            {% endcomment %}
        </ul>
    </section>
    <section class="interview-container">
        <h1 class="section-header">Intervju med studenter på Industriell Ekonomi</h1>

        <ul class="interview-cards">
            <li class="interview-card">
                <div class="card-image">
                    <img src="https://s3.eu-central-1.amazonaws.com/isektionen-bildbank/interviews/bjorn.jpg">
                </div>
                <div class="interview-card-info">
                    <h2 class="interview-name">Björn Rünlow</h2>
                    <h2 class="interview-class">Årskurs 1</h2>
                    <a href="javascript:void(0);" class="interview-link">Läs intervjun med Björn</a>
                </div>
                <!-- THIS CONTAINS ALL INTERVIEW MARKUP -->
                <div class="interview-content">
                    <h2 class="main-question">Vem är du?</h2>
                    <ul class="question-list">
                        <li>Namn: Björn Runow</li>
                        <li>Årskurs: 1</li>
                        <li>Bakgrund: Jag är 23 år gammal och uppvuxen i Södertälje. Matematik har alltid varit ett stort intresse och jag har de senaste åren jobbat en hel del med att lära ut matte på gymnasienivå, dels genom att jobba som långtidsvikarie på min gamla gymnasieskola och dels genom ett läxhjälpsföretag som jag startade. Utöver det gillar jag det mesta som har med bollar att göra och jag verkligen beundrar riktiga entreprenörer!</li>
                        <li>Varför du valde I Linköping? Jag valde Linköping för att det dels är nära hem med tåg och dels för att jag hört mycket gott om universitet, särskilt då I-linjen. Just I-linjen lät väldigt lockande på grund av kombinationen ekonomi- teknik. I efterhand har jag upptäckt att staden Linköping definitivt är en ort jag kan tänka mig att bo på en längre tid och det har varit en positiv överraskning.</li>
                    </ul>
                </div>
            </li>
            <li class="interview-card">
                <div class="card-image">
                    <img src="https://s3.eu-central-1.amazonaws.com/isektionen-bildbank/interviews/emelie.jpg">
                </div>
                <div class="interview-card-info">
                    <h2 class="interview-name">Emelie Jönsson</h2>
                    <p class="interview-class">Årskurs 2</p>
                    <a class="interview-link" href="javascript:void(0);">Läs intervjun med Emelie</a>
                </div>
                <!-- THIS CONTAINS ALL INTERVIEW MARKUP -->
                <div class="interview-content">
                    <h2 class="main-question">Vem är du?</h2>
                    <ul class="question-list">
                        <li>Namn: Emelie Jönsson</li>
                        <li>Årskurs: 2</li>
                    </ul>
                </div>
            </li>
            <li class="interview-card">
                <div class="card-image">
                    <img src="https://s3.eu-central-1.amazonaws.com/isektionen-bildbank/interviews/lisa.jpg">
                </div>
                <div class="interview-card-info">
                    <h2 class="interview-name">Lisa Boström</h2>
                    <p class="interview-class">Årskurs 3</p>
                    <a class="interview-link" href="javascript:void(0);">Läs intervjun med Lisa</a>
                </div>
                <div class="interview-content">
                    <h2 class="main-question">Vem är du?</h2>
                    <ul class="question-list">
                        <li>Namn: Lisa Boströmw</li>
                        <li>Årskurs: 3</li>
                    </ul>
                </div>
            </li>
            <li class="interview-card">
                <div class="card-image">
                    <img src="https://s3.eu-central-1.amazonaws.com/isektionen-bildbank/interviews/chia.jpg">
                </div>
                <div class="interview-card-info">
                    <h2 class="interview-name">Chia Kattane</h2>
                    <p class="interview-class">Årskurs 4</p>
                    <a class="interview-link" href="javascript:void(0);">Läs intervjun med Chia</a>
                </div>
                <div class="interview-content">
                    <h2 class="main-question">Vem är du?</h2>
                    <ul class="question-list">
                        <li>Namn: Chia Kattane</li>
                        <li>Årskurs: 4</li>
                        <li>Varför du valde I Linköping? Jag valde Linköping för att det dels är nära hem med tåg och dels för att jag hört mycket gott om universitet, särskilt då I-linjen. Just I-linjen lät väldigt lockande på grund av kombinationen ekonomi- teknik. I efterhand har jag upptäckt att staden Linköping definitivt är en ort jag kan tänka mig att bo på en längre tid och det har varit en positiv överraskning.</li>
                    </ul>
                </div>
            </li>
            <li class="interview-card">
                <div class="card-image">
                    <img src="https://s3.eu-central-1.amazonaws.com/isektionen-bildbank/interviews/emma.jpg">
                </div>
                <div class="interview-card-info">
                    <h2 class="interview-name">Emma Helsing Mork</h2>
                    <p class="interview-class">Årskurs 5</p>
                    <a class="interview-link" href="javascript:void(0);">Läs intervjun med Emma</a>
                </div>
                <div class="interview-content">
                    <h2 class="main-question">Vem är du?</h2>
                    <ul class="question-list">
                        <li>Namn: Emma Helsing Mork</li>
                        <li>Årskurs: 5</li>
                    </ul>
                </div>
            </li>
        </ul>

        <div id="full-interview-container" class="interview-content">

        </div>
    </section>
    <section class="latest">
        <h1 class="section-header">Se vad som händer på sektionen</h1>
        <hr>
        <div class="blog-previews">
            <h2>Senaste bloginläggen</h2>
            {% load blog_tags %}
            {% get_last_entries as entries %}
            {% for entry in entries %}
                <div class="latest-blogs-preview">
                    <div class="blog-entry-datebox">
                        <p class="blog-date">
                            {{ entry.publishedDate|date:"d b Y" }}
                        </p>
                    </div>
                    <div class="blog-entry-textbox">
                        <h2 class="blog-title">
                            <a href="{% url "view_one_blog_entry" entry.pk %}">{{ entry.title }}</a>
                        </h2>
                        <p class="blog-text">
                            {{ entry.lead|truncatechars:200 }}
                        </p>
                    </div>
                </div>

            {% endfor %}
        </div>
        <div class="instagram">
            <div class="instagram-content">
                <p class="instagram-account-link">
                    <i class="fa fa-instagram"></i>
                    <a href="https://www.instagram.com/industriellekonomi_liu/">@industriellekonomi_liu</a>
                </p>
                <div class="instagram-feed">
                    <ul class="instagram-pictures">
                    </ul>
                </div>
                </a>
            </div>
        </div>

    </section>


{% endblock %}
{% block js_document_ready %}
    load_instagram()
{% endblock %}