{% extends 'master.html' %}
{% block links %}

    {% if sokande %}
        <li class="nav-link active-nav-item"><a href="{% url 'sokande' %}">Sökande</a></li>
    {% else %}
        <li class="nav-link"><a href="{% url 'sokande' %}">Sökande</a></li>
    {% endif %}
    <li class="nav-link"><a href="{% url 'utbildning' %}">Utbildning</a></li>
    <li class="nav-link"><a href="{% url 'studentliv' %}">Studentliv</a></li>
    <li class="nav-link"><a href="{% url 'efterstudier' %}">Efter studierna</a></li>
{% endblock %}

{% block content %}
    <section class="applicant-hero">
        <div class="hero-content">
            <h1 class="hero-heading">PLUGGA INDUSTRIELL EKONOMI</h1>
            <hr class="hero-divider">
            <p class="hero-text">
                På denna sidan har vi samlat information som är intressant för dig som kanske har tänkt att du ska plugga inom en snar framtid. Du hittar information om utbildningens innehåll, vad man kan göra utanför plugget (det som kallas studentliv) och vad du kan bli när du är färdig med utbildningen.
            </p>
        </div>
    </section>

    <div class="applicant-container">

        <section class="education">
            <h1 class="edu-header">
                Vad vill du veta mer om?
            </h1>
            <ul class="applicant-listview">
                <li class="listview-item">
                    <div class="listview-icon">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                    <div class="text-box">
                        <div class="list-header">
                            <h1>Nyfiken på mer om utbildningen?</h1>
                        </div>
                        <div class="list-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel metus at orci consequat laoreet. Quisque eu felis nec metus porta condimentum. Integer convallis tristique nibh et pulvinar. In pharetra, lacus ac efficitur mollis, sapien dui laoreet risus, id fermentum erat nisi quis velit. Vestibulum bibendum erat ac sem ornare, auctor

                        </div>
                        <a href="{% url 'utbildning' %}" class="action-button list-link">Läs om utbildningen</a>
                    </div>

                </li>
                <li class="listview-item">
                    <div class="listview-icon">
                        <i class="fa fa-bicycle"></i>
                    </div>
                    <div class="text-box">
                        <div class="list-header">
                            <h1>Sugen på studentliv?</h1>
                        </div>
                        <div class="list-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel metus at orci consequat laoreet. Quisque eu felis nec metus porta condimentum. Integer convallis tristique nibh et pulvinar. In pharetra, lacus ac efficitur mollis, sapien dui laoreet risus, id fermentum erat nisi quis velit. Vestibulum bibendum erat ac sem ornare, auctor .</p>
                            <a href="{% url 'studentliv' %}" class="action-button">Läs om utbildningen</a>
                        </div>
                    </div>
                </li>
                <li class="listview-item">
                    <div class="listview-icon">
                        <i class="fa fa-home"></i>
                    </div>
                    <div class="text-box">
                        <div class="list-header">
                            <h1>Vart ska jag bo?</h1>
                        </div>
                        <div class="list-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel metus at orci consequat laoreet. Quisque eu felis nec metus porta condimentum. Integer convallis tristique nibh et pulvinar. In pharetra, lacus ac efficitur mollis, sapien dui laoreet risus, id fermentum erat nisi quis velit. Vestibulum bibendum erat ac sem ornare, auctor fermentum erat pellentesque. In porttitor nisi ligula, a luctus enim aliquam vitae. Duis sit amet libero at libero feugiat aliquam. In at metus et orci malesuada dapibus. Ut id nisi posuere, consequat quam eget, sodales tellus. Mauris lobortis tempor diam ut porta. Aenean fermentum eros eu neque commodo, non ornare urna ullamcorper. Suspendisse tristique nunc sed laoreet suscipit.</p>
                            <a href="{% url 'sokande' %}" class="action-button">Läs om utbildningen</a>
                        </div>
                    </div>
                </li>
                <li class="listview-item">
                    <div class="listview-icon">
                        <i class="fa fa-briefcase"></i>
                    </div>
                    <div class="text-box">
                        <div class="list-header">
                            <h1>Vad händer efter mina studier?</h1>
                        </div>
                        <div class="list-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel metus at orci consequat laoreet. Quisque eu felis nec metus porta condimentum. Integer convallis tristique nibh et pulvinar. In pharetra, lacus ac efficitur mollis, sapien dui laoreet risus, id fermentum erat nisi quis velit. Vestibulum bibendum erat ac sem ornare, auctor fermentum erat pellentesque. In porttitor nisi ligula, a luctus enim aliquam vitae. Duis sit amet libero at libero feugiat aliquam. In at metus et orci malesuada dapibus. Ut id nisi posuere, consequat quam eget, sodales tellus. Mauris lobortis tempor diam ut porta. Aenean fermentum eros eu neque commodo, non ornare urna ullamcorper. Suspendisse tristique nunc sed laoreet suscipit.</p>
                            <a href="{% url 'efterstudier' %}" class="action-button">Läs om utbildningen</a>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </div>


{% endblock %}