{% extends 'master.html' %}

{% block sublinks %}
    <li class="submenu-link"><a href="#teknisk-inrikning" class="smoothScroll"> Tekniska Inriktningar </a></li>
    <li class="submenu-link"><a href="#ekonomiska-profiler" class="smoothScroll"> Ekonomiska Profiler </a></li>
    <li class="submenu-link"><a href="#utlandsstudier" class="smoothScroll"> Utlandsstudier </a></li>
    <li class="submenu-link"><a href="#arskurs1" class="smoothScroll"> Årskurs 1 </a></li>
    <li class="submenu-link"><a href="#arskurs2" class="smoothScroll"> Årskurs 2 </a></li>
    <li class="submenu-link"><a href="#" > Årskurs 3 </a></li>
    <li class="submenu-link"><a href="#"> Årskurs 4 </a></li>
    <li class="submenu-link"><a href="#"> Årskurs 5 </a></li>
{% endblock %}




{% block content %}
    <div id="js-parallax-window" class="parallax-window">
        <div class="parallax-static-content">
            <div class="box-parallax">
                <h1>Utbildningen</h1>
                <h4>Ska stylas till lite så den ligger i mitten + storlek + färg + annat</h4>
            </div>
            <div class="box-parallax">
                <h4>Ska vi ens ha en parallax hero här?</h4>
            </div>
        </div>
        <div id="js-parallax-background" class="parallax-background"></div>
    </div>

  <section id="intro-page">
        <div class="intro-page-content">
            <div class="intro-page-content-header">
                <h1 id="teknisk-inrikning">Teknisk inrikning</h1>
            </div>
            <div class="intro-page-text-left">
                <p>
                    I don't think they tried to market it to the billionaire, spelunking, base-jumping crowd. mister wayne, if you don't want
                    to tell me exactly what you're doing, when i'm asked, i don't have to lie. but don't think of me as
                    an idiot. boxing is about respect. getting it for yourself, and taking it away from the other guy.
                    circumstances have taught me that a man's ethics are the only possessions he will take beyond the
                    grave. the man likes to play chess; let's get him some rocks. multiply your anger by about a
                    hundred, kate, that's how much he thinks he loves you. you want a guarantee, buy a toaster. when
                    a naked man's chasing a woman through an alley with a butcher knife and a hard-on, i figure he's
                    not out collecting for the red cross. the man likes to play chess; let's get him some rocks. you
                    want a guarantee, buy a toaster. it only took me six days. same time it took the lord to make the
                    world. well, what is it today? more spelunking?
                    This is my gun, clyde! i now issue a new commandment: thou shalt do the dance. man's gotta know his limitations.
                    bruce... i'm god. it only took me six days. same time it took the lord to make the world. what you
                    have to ask yourself is, do i feel lucky. well do ya' punk? when a naked man's chasing a woman
                    through an alley with a butcher knife and a hard-on, i figure he's not out collecting for the red
                    cross. you measure yourself by the people who measure themselves by you. well, do you have
                    anything to say for yourself? bruce... i'm god. are you feeling lucky punk dyin' ain't much of
                    a livin', boy.
                </p>
            </div>
            <div class="intro-page-img-right">
                <img src="http://i.dailymail.co.uk/i/pix/2013/09/18/article-2422952-1BDFE6DA000005DC-336_634x411.jpg">
            </div>

        </div>

        <div class="intro-page-content">
            <div class="intro-page-content-header">
                <h1 id="ekonomiska-profiler">Ekonomiska profiler</h1>
            </div>
            <div class="intro-page-img-left">
                <img src="http://www.lifetimetv.co.uk/sites/default/files/assets/landscape/Morgan%20Freeman.jpg?itok=tUAJUY-3">

            </div>
            <div class="intro-page-text-right">
                <p>
                    Dyin' ain't much of a livin', boy. that tall drink of water with the silver spoon up his ass. no,
                    this is mount everest. you should flip on the discovery channel from time to time. but i guess you
                    can't now, being dead and all. i did the same thing to gandhi, he didn't eat for three weeks. let
                    me tell you something my friend. hope is a dangerous thing. hope can drive a man insane. i once
                    heard a wise man say there are no perfect men. only perfect intentions. boxing is about
                    getting it for yourself, and taking it away from the other guy. cities fall but they are rebuilt.
                    heroes die but they are remembered. this is the ak-47 assault rifle, the preferred weapon of your
                    enemy; and it makes a distinctive sound when fired at you, so remember it. boxing is about respect.
                    getting it for yourself, and taking it away from the other guy. bruce... i'm god. i now issue a
                    new commandment: thou shalt do the dance.
                </p>
            </div>

        </div>

        <div class="intro-page-content">
            <div class="intro-page-content-header">
                <h1 id="utlandsstudier">Utlandsstudier</h1>
            </div>

            <div class="intro-page-text-left">
                <p>
                    Don't p!ss down my back and tell me it's raining. cities fall but they are rebuilt. heroes die but
                    they are remembered. that tall drink of water with the silver spoon up his ass. this is my gun,
                    clyde! when a naked man's chasing a woman through an alley with a butcher knife and a hard-on, i
                    figure he's not out collecting for the red cross. i once heard a wise man say there are no perfect
                    men. only perfect intentions. you want a guarantee, buy a toaster. you want a guarantee, buy a
                    toaster. mister wayne, if you don't want to tell me exactly what you're doing, when i'm asked, i
                    don't have to lie. but don't think of me as an idiot. are you feeling lucky punk ever notice how
                    sometimes you come across somebody you shouldn't have f**ked with? well, i'm that guy. this is the
                    ak-47 assault rifle, the preferred weapon of your enemy; and it makes a distinctive sound when
                    fired at you, so remember it.
                </p>
            </div>
            <div class="intro-page-img-right">
                <img src="http://gfx.coolwallpapers.org/photo/55503/Clint-Eastwood-1024x768.jpg">
            </div>
        </div>

        <div class="intro-page-content">
            <div class="intro-page-content-header">
                <h1 id="arskurs1">Årskurs 1</h1>
            </div>
            <div class="intro-page-img-left">
                <img src="http://media.salon.com/2014/06/morgan_freeman.jpg">
            </div>
            <div class="intro-page-text-right">
                <p>
                    The man likes to play chess; let's get him some rocks. this is my gun, clyde! man's gotta know
                    his limitations. what you have to ask yourself is, do i feel lucky. well do ya' punk? it only took
                    me six days. same time it took the lord to make the world. that tall drink of water with the
                    spoon up his ass. it only took me six days. same time it took the lord to make the world. you see,
                    in this world there's two kinds of people, my friend: those with loaded guns and those who dig.
                    you dig. you see, in this world there's two kinds of people, my friend: those with loaded guns
                    and those who dig. you dig. you see, in this world there's two kinds of people, my friend: those
                    with loaded guns and those who dig. you dig. cities fall but they are rebuilt. heroes die but they
                    are remembered. here. put that in your report!" and "i may have found a way out of here.
                </p>
            </div>
        </div>

        <div class="intro-page-content">
            <div class="intro-page-content-header">
                <h1 id="arskurs2">Årskurs 2</h1>
            </div>

            <div class="intro-page-text-left">
                <p>
                    Multiply your anger by about a hundred, kate, that's how much he thinks he loves you. i did the
                    same thing to gandhi, he didn't eat for three weeks. don't p!ss down my back and tell me it's
                    raining. let me tell you something my friend. hope is a dangerous thing. hope can drive a man
                    insane. bruce... i'm god. i now issue a new commandment: thou shalt do the dance. man's gotta
                    know his limitations. no, this is mount everest. you should flip on the discovery channel from
                    time to time. but i guess you can't now, being dead and all. i did the same thing to gandhi, he
                    didn't eat for three weeks. rehabilitated? well, now let me see. you know, i don't have any idea
                    what that means. circumstances have taught me that a man's ethics are the only possessions he will
                    take beyond the grave. multiply your anger by about a hundred, kate, that's how much he thinks he
                    loves you.
                </p>
            </div>
            <div class="intro-page-img-right">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/9c/Clint_Eastwood1.png">
            </div>
        </div>

    </section>
{% endblock %}