.blog-box
  text-align: center

#latest-blog-entry
  border-left: solid
  border-color: #515051
  border-width: 1px
  margin-bottom: 1.0em
  .blog-title
    font-size: 2.0em
    text-align: left
    font-weight: 600
  .blog-lead
    font-size: 1.2em
    text-align: left
  .blog-bread
    font-size: 1.0em
    text-align: left
    font-style: italic