section.top-image
  color: white
  div.content-wrapper
    +outer-container()
    padding-top: 8em
    padding-bottom: 8em
    div.content-container
      +span-columns(6 of 10)
      +shift(2)
      +omega(1n)
      text-align: center