.footer {
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $footer-background: desaturate(darken($action-color, 20%), 30%);
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, 0.6);
  $footer-disclaimer-color: transparentize($footer-color, 0.6);

  background: $footer-background;
  padding: ($base-spacing * 2) $gutter;
  width: 100%;
  .footer-content {
    @include display(flex);
    @include justify-content(space-around);
    .footer-logo {
      text-align: center;
      @include flex(1);

      img {
        height: 6em;
      }
    }

    .footer-links {
      @include display(flex);
      @include flex-wrap(wrap);
      @include flex(4);
      @include justify-content(space-around);
      margin-bottom: $base-spacing;
      .latest-blogs  {
        font-size: 0.9em;
        border-top-style: solid;
        border-bottom-style: solid;
        border-width: thin;
        margin-bottom: 1em;
        #footer-date {
          font-size: 0.8em;
        }
      }

      #about-column  {@include flex(3);
      padding-left: 10em;}
      #content-column  {@include flex(2);}
      #latest-entry-blog-column  {@include flex(3);}
      #social-media-column  {@include flex(2);}

      .social-media-box-collector          {
    //   @include display(flex);
    //   @include justify-content(space-around);
      }
      .social-media-box {
        a {
          color: $footer-link-color;
          &:hover {
            color: transparentize($footer-color, 0);
        }
      }
        text-align: center;
      }
    }

    ul {
      @include flex-basis(13em);
      @include flex-shrink(0);
      margin-bottom: $base-spacing * 2;
      padding: 0;
    }

    li {
      line-height: 1.5em;
      list-style: none;
      text-align: center;
    }

    li a {
      color: $footer-link-color;
      text-decoration: none;

      &:focus,
      &:hover {
        color: transparentize($footer-color, 0);
      }
    }

    li h4 {
      color: $footer-color;
      font-size: 1em;
      margin-bottom: 0.4em;
    }
  }
    hr {
      border: 1px solid transparentize($footer-disclaimer-color, 0.3);
      margin: 0 auto $base-spacing;
      width: 12em;
    }

    p {
      color: $footer-disclaimer-color;
      font-size: 0.9em;
      line-height: 1.5em;
      margin: auto;
      max-width: 35em;
      text-align: center;
    }

}
