{% extends "master.html" %}



       {% block links %}
    <li class="nav-link"><a href="{% url 'blog' %}">Blogg</a></li>
    <li class="nav-link"><a href="{% url 'sokande' %}">Sökande</a></li>
    <li class="nav-link"><a href="{% url 'foretag' %}">Företag</a></li>
{% endblock %}
{% block content %}
    <div class="text_layout">
 <h1>500 - Serverfel</h1>
     <p >Vi ber om ursäkt och arbetar troligen på problemet just nu! Om problemet kvarstår, vänligen <a href="mailto:webgroup@isektionen.se"> kontakta Webgroup genom att klicka här!</a></p>
          <p><i>“Såhär ska det inte behöva vara! (╯°□°）╯︵ ┻━┻”</i> - Adam Moberg (2017) </p>
     <br>
 </div>

{% endblock %}
