{# This file defines the front page and is a own kind of master page #}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "stylesheets.html" %}

    <title>I-Sektionen - LiU{% block page_subtitle %} {% endblock %}</title>
{% block head %} {% endblock %}
</head>

<body>

<!-- include gör att vi kan importera andra filer -->

<!--
Denna fil innehåller navigationen för sidan. Den är klippt från Refills precis som jag visade på vår demo-session.
-->

<header class="centered-navigation" role="banner">
  <div class="centered-navigation-wrapper">
    <a href="javascript:void(0)" class="mobile-logo">
      <img src="http://www.cam.liu.se/cam-dagen/industriell-ekonomi/1.336211/IndustriellEkonomiJPEG.jpg" alt="Logo image">
    </a>
    <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
    <nav role="navigation" id="header-anchor">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
          {% block links %}
        <li class="nav-link"><a href="{% url 'index' %}">I-Sektionen</a></li>

          <li class="nav-link"><a href="{% url 'intro' %}">Intro</a></li>
          <li class="nav-link"><a href="{% url 'utbildningen' %}">Utbildning</a></li>
          <li class="nav-link"><a href="{% url 'studentliv' %}">Studentliv</a></li>
          <li class="nav-link"><a href="{% url 'efter_studier' %}">Efter studietiden</a></li>
          <li class="nav-link"><a href="{% url 'gymnasiecase_iresan' %}">Gymnasiecaset och I-resan</a></li>
          <li class="nav-link"><a href="{% url 'kontakt' %}">Kontakt och FAQ</a></li>

              <li id ="toggle-content" class="nav-link"><a href="{% url 'kontakt' %}">Företag</a></li>



          {% endblock %}
      </ul>
    </nav>

      <nav role="navigation" id="header-submenu">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
          {% block sublinks %}
          {% endblock %}
      </ul>
    </nav>

  </div>

    <!--
Parralax/Hero klippt från Refills
-->
</header>

{% block above_content %}
{% endblock %}

<!-- Ett block gör att vi kan använda vår master på flera sidor, men byta ut innehållet som ligger i blocket -->
<div id="container">
{% block content %}

{% endblock %}
</div>

{% block footer %}
 <footer class="footer" role="contentinfo">
   <div class="footer-logo">
     <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
   </div>
   <div class="footer-links">
     <ul>
       <li><h3>Content</h3></li>
       <li><a href="javascript:void(0)">About</a></li>
       <li><a href="javascript:void(0)">Contact</a></li>
       <li><a href="javascript:void(0)">Products</a></li>
     </ul>
     <ul>
       <li><h3>Follow Us</h3></li>
       <li><a href="javascript:void(0)">Facebook</a></li>
       <li><a href="javascript:void(0)">Twitter</a></li>
       <li><a href="javascript:void(0)">YouTube</a></li>
     </ul>
     <ul>
       <li><h3>Legal</h3></li>
       <li><a href="javascript:void(0)">Terms and Conditions</a></li>
       <li><a href="javascript:void(0)">Privacy Policy</a></li>
     </ul>
   </div>

   <hr>

   <p>Disclaimer area lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nostrum repudiandae saepe.</p>
 </footer>




{% endblock %}


{% include "scripts.html" %}
{% block after_scripts %}{% endblock %}
</body>
</html>