{# This file defines the front page and is a own kind of master page #}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "stylesheets.html" %}

    <title>I-Sektionen - LiU{% block page_subtitle %} {% endblock %}</title>
    {% block head %} {% endblock %}
</head>

<body>

<!-- A modal that could be used in any subpage with different content -->
    <div class="modal">
        <input class="modal-state" id="modal-1" type="checkbox" />
        <div class="modal-fade-screen">
            <div class="modal-inner">
                <div class="modal-close" for="modal-1"></div>
                <div class="modal-content" for="modal-1"></div>
            </div>
        </div>
    </div>


<!-- include gör att vi kan importera andra filer -->

<!--
Denna fil innehåller navigationen för sidan. Den är klippt från Refills precis som jag visade på vår demo-session.
-->
{% block header %}
<header class="centered-navigation" role="banner">
    <div class="centered-navigation-wrapper">
        <a href="javascript:void(0)" class="mobile-logo">
            <img src="http://www.cam.liu.se/cam-dagen/industriell-ekonomi/1.336211/IndustriellEkonomiJPEG.jpg" alt="Logo image">
        </a>
        <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
        <nav role="navigation" id="header-anchor">
            <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
                {% block links %}

                {% endblock %}
            </ul>
        </nav>

        <nav role="navigation" id="header-submenu">
            <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
                {% block sublinks %}
                {% endblock %}
            </ul>
        </nav>

    </div>

    <!--
Parralax/Hero klippt från Refills
-->
</header>
{% endblock %}

{% block above_content %}
{% endblock %}

<!-- Ett block gör att vi kan använda vår master på flera sidor, men byta ut innehållet som ligger i blocket -->
<div id="container">

    {% block content %}

    {% endblock %}
</div>

<footer class="footer" role="contentinfo">
  <div class="footer-content">
     <div class="footer-logo">
         <img src=" {% static 'isektionen/isektionen-loga.png' %}" >
      </div>
      <div class="footer-links">
        <ul id="about-column">
            <li><h4>OM I-SEKTIONEN</h4></li>
           <p>I-Sektionen är en ideell förening driven av engagerade studenter från programmet för Industriell ekonomi i Linköping.</p>
        </ul>
        <ul id="content-column">
            <li><h4>INNEHÅLL</h4></li>
            <li><a href="javascript:void(0)">Efter Studierna</a></li>
            <li><a href="javascript:void(0)">Utbildningen</a></li>
            <li><a href="javascript:void(0)">Studentliv</a></li>
            <li><a href="javascript:void(0)">Företag</a></li>
        </ul>
        <ul id="latest-entry-blog-column">
            <li><h4>SENASTE BLOGGINLÄGGEN</h4></li>
                <div class="latest-blogs">
                    <li><a href="i-sektionen.se/senaste-bloggen:void(0)">Välkommen till Industriell ekonomi</a></li>
                    <p id="footer-date">
                        2011-08-25</p>
                </div>
                <div class="latest-blogs">
                    <li><a href="javascript:void(0)">Snart är det tenta-p, äntligen!</a></li>
                    <p id="footer-date">
                        2011-11-26</p>
                </div>
        </ul>
        <ul id="social-media-column">

            <li><h4>FÖLJ OSS</h4></li>
            <div class="social-media-box-collector">
            <div class="social-media-box"><a href="https://www.facebook.com/Industriell-ekonomi-Link%C3%B6ping-109690162408268/?fref=ts/"  target="_blank"><i class="fa fa-facebook-official"></i> <i>Facebook</i></a></div>
            <div class="social-media-box"><a href="https://instagram.com/industriellekonomi_liu/"  target="_blank"><i class="fa fa-instagram"></i> <i>Instagram</i></a></div>
            <div class="social-media-box"><a href="https://www.linkedin.com/grps/Industriell-ekonomi-Sverige-ISverige-4435021/about?" target="_blank"><i class="fa fa-linkedin"></i> <i>Linkedin</i></a></div>
            <div class="social-media-box"><a href="https://twitter.com/i_sektionen/" target="_blank"><i class="fa fa-twitter"></i> <i>Twitter</i></a></div>
            </div>
        </ul>
      </div>
</div>
  <p>Webgroup <3333333333</p>
</footer>


{% include "scripts.html" %}
{% block after_scripts %}{% endblock %}
</body>
</html>