{# This file defines the front page and is a own kind of master page #}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "stylesheets.html" %}
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>

    <title>Industriell ekonomi Linköping - {% block page_subtitle %} {% endblock %}</title>
    {% block head %} {% endblock %}
</head>

<body>

<!-- A modal that could be used in any subpage with different content -->
    <div class="modal">
        <input class="modal-state" id="modal-1" type="checkbox" />
        <div class="modal-fade-screen">
            <div class="modal-inner">
                <div class="modal-close" for="modal-1"></div>
                <div id="modal-content" for="modal-1"></div>
            </div>
        </div>
    </div>


<!-- include gör att vi kan importera andra filer -->

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block hero %}
{% endblock %}

<!-- Ett block gör att vi kan använda vår master på flera sidor, men byta ut innehållet som ligger i blocket -->
<div id="container">
    {% block content %}

    {% endblock %}
</div>
{% block after_scripts %}
<script>
    $(document).ready(


    )

</script>
{% endblock %}

{% include "scripts.html" %}
<script>
    $(document).ready(

            {% block js_document_ready %}

            {% endblock %}
    );
</script>
</body>
</html>