{% comment %}
This page is included by the master.html page. It specifies the stylesheets in use.

This file is modified during the deploy cycle to instead include minified verisons of the stylesheets.

{% endcomment %}
{% load static %}

<link rel="stylesheet" href="{% static "css/isektionen.css" %}">
<link href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">-->
<script src="https://use.fontawesome.com/8245c0f918.js"></script>