$applicant-overlay-gradient: linear-gradient(rgba(black, 0.35), rgba(black, 0.35));
//Variables for heading
$applicant-heading-color: $light-gray;
// Variables for divider
$hero-divider-height: 5px;
// Variables for hero text
$applicant-text-color: $light-gray;


.applicant-hero {
  @extend .top-hero;
  @include section-cover-background('https://s3.eu-central-1.amazonaws.com/isektionen-bildbank/hero-images/nollep-karallen.jpg')

}

.promo-section {
  min-height: 50vh;
  @include position(relative);

  .promo-content {
    padding: 2em;
    text-align: center;
    width: 60%;
    @include position(absolute);
    left: 50%;
    top: 50%;
    width: 100%;
    @include transform(translate(-50%, -50%));

    @include media($large-screen) {
      width: auto;
    }
  }

  .promo-heading {
    color: $applicant-heading-color;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 0;
    @include  media ($large-screen) {
      font-size: 3em;
    }

  }

  .promo-text {
    color: $applicant-text-color;
    @include media ($large-screen) {
      text-align: justify;
      font-size: 1.2em;
    }
  }

}

.applicant-container {
  @include outer-container();
  padding: 2em;

  @include media($large-screen) {
      width: 70%

  }

  .section-header {
    text-align: center;
    color: $dark-gray;
    font-size: 2.5em;
    @include media ($large-screen) {
      font-size: 2em;
    }
  }
  .section-text {
    line-height: 1.5em;
    color: $dark-gray;
    @include media ($large-screen) {
      text-align: justify;
      font-size: 1em;
    }
  }

  .bullets {
    $base-line-height: 1.5em !default;
    $dark-gray: #333 !default;
    $base-font-color: $dark-gray !default;
    $icon-bullet-size: 4em;

    @include display(flex);
    @include flex-wrap(wrap);
    margin-bottom: $base-line-height;
    margin: 1em;
    overflow: auto;
    padding: 0;

    .bullet {
      @include flex-basis(100%);
      @include flex-grow(1);
    }

    .bullet-icon {
      background: $light-gray;
      border-radius: 50%;
      float: left;
      height: $icon-bullet-size;
      padding: $icon-bullet-size / 4;
      width: $icon-bullet-size;

      i {
          color: $dark-gray;
          font-size: 2em;

      }

    }

    .bullet-content {
      margin-left: $icon-bullet-size * 1.4;
      margin-bottom: 2em;
    }

    h2 {
      //border-bottom: 1px solid transparentize($base-font-color, 0.8);
      display: inline-block;
      font-size: $icon-bullet-size / 2.5;
      margin: 0 0 ($icon-bullet-size / 6) 0;
      padding-top: $icon-bullet-size / 7;
    }

    li {
      list-style: none;
    }

    p {
      color: $base-font-color;
      line-height: $base-line-height;
    }

    img {
      max-width: 100%;
    }
  }

  .student-life {
    //@extend .applicant-section;
    @include span-columns(12);
    @include media($large-screen) {
      @include span-columns(6)
    }
  }

  .blog-promo {
    //@extend .promo-section;
    @include section-cover-background('https://s3.eu-central-1.amazonaws.com/isektionen-bildbank/_MG_4139.jpg', top, center)
  }
  .after-studies {
    //@extend .applicant-section;
    @include span-columns(12)
  }

}

.interview-container {
  @include outer-container();
  padding: 2em;

}

  .interview-cards {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    @include flex-wrap(wrap);

  .interview-card {
    @include flex(1 1 20em);
    //@include flex-grow(1);

    margin-bottom: 2em;

    @include media($large-screen) {
      margin-right: 2em;
    }

    @include media($medium-screen) {
      margin-right: 1em;
    }


  }
  .card-image {
    height: 300px;
    max-height: 300px;
    overflow: hidden;

    @include media($large-screen) {
      height: 700px;
      max-height: 700px;

    }

    @include media($medium-screen) {
      height: 450px;
      max-height: 450px;
    }


    img {
      @include border-top-radius($base-border-radius);
      opacity: 1;
      transition: all 0.2s ease-in-out;
      width: 100%;
    }
  }
  .interview-card-info {
    color: white;
    background-color: $isektionen-yellow;
    padding: 1em;
    @include border-bottom-radius($base-border-radius);

    .interview-name {

      font-size: 2em;

    }

  }
}