
.foretag-contact
  //+outer-container()
  padding: 2em
  margin: 0
  width: 100%
  min-height: 500px
  background-color: #f7f7f7

  .foretag-contact-content
    max-width: 50em
    margin-left: auto
    margin-right: auto


.foretag-exponering
  //+outer-container()
  padding: 2em
  margin: 0
  width: 100%
  min-height: 80vh
  background-color: #f7f7f7

  .foretag-exponering-content
    padding: 2em
    text-align: center
    width: 60%
    //This positions the element rela
    @include position(absolute)
    left: 50%
    top: 50%
    @include transform(translate(-50%, -50%))
    width: 100%

    @include media($large-screen)
      width: 60%

    .exponering-heading
      color: dimgrey
      font-size: 2em
      text-transform: uppercase
      margin-bottom: 0
      @include  media ($large-screen)
        font-size: 3em


    .exponering-divider
      border: none
      background-color: dimgray
      height: 5px
      margin: 5px

    .exponering-text
      color: dimgrey
      font-weight: bold
      font-size: 1.2em
      @include media ($large-screen)
        text-align: justify


.foretag-information
  //+outer-container()
  padding: 2em
  margin: 0
  width: 100%
  min-height: 500px
  //background-color: lightgrey
  //color: white
  background-image: url("https://s3.eu-central-1.amazonaws.com/isektionen-bildbank/hero-images/nollep-karallen.jpg")
  .section-header
    color: white

  .foretag-information-content
    //max-width: 50em
    margin-left: auto
    margin-right: auto
    //background-color: red

.foretag-statistik
  //+outer-container()
  padding: 2em
  margin: 0
  width: 100%
  min-height: 500px
  background-color: #f7f7f7

  .foretag-statistik-content
    max-width: 50em
    margin-left: auto
    margin-right: auto

    .chart-canvas-company
      padding: 1em
      height: 300px
      width: 300px


.foretag-erbjudande
  //+outer-container()
  padding: 2em
  margin: 0
  width: 100%
  min-height: 500px
  background-color: #f7f7f7
  background-image: url("https://s3.eu-central-1.amazonaws.com/isektionen-bildbank/hero-images/nollep-karallen.jpg")
  .section-header
    color: white

  .foretag-erbjudande-content
    max-width: 50em
    margin-left: auto
    margin-right: auto

.bullet-list
  margin-left: 2em
  list-style-type: disc
