.contacts-hero
  @extend .top-hero
  +section-cover-background('https://iportalen-us.s3.amazonaws.com:443/static/iportalen/HERO.jpg')

.contacts-section
  +outer-container()
  margin-top: 7em
  margin-bottom: 1em

  .contacts-content
    text-align: center





