.contacts-section
  +outer-container()
  margin-top: 7em
  margin-bottom: 1em
  .contacts-headline
    text-align: center
  .contacts-form
    padding: 1em
    +span-columns(12)
    +media($large-screen)
      +span-columns(6)
      +shift(3)





