.education-hero
  @extend .top-hero
  +section-cover-background('https://iportalen-us.s3.amazonaws.com:443/static/iportalen/HERO.jpg')

.utbildning-intro
  +outer-container()
  padding: 1em

.section-header
  font-size: 2em
  color: $dark-gray
  text-align: center
.section-text
  line-height: 2em
  color: $dark-gray

.program-graph-section
  background-color: $light-gray
  .program-graph
    +outer-container()
    padding: 1em
    .section-header
      font-size: 2.5em
      color: $dark-gray

  .program-info-container
    +transition(0.3s ease-in-out)
    +transform(translateX(0))

  // The absolute positioning is necessary due to use of chart JS rendering.
  // The element cannot be display: none, and visibility: none still uses space in DOM
  // Position absolute is a decent workaround

  .no-show-right
    +transform(translateX(130%))
    +position(absolute)

  .no-show-left
    +transform(translateX(-130%))
    +position(absolute)

  .toggle-links
    +display(flex)
    +align-items(stretch)
    +justify-content(center)
    +flex-wrap(wrap)
  .toggle-link
    text-align: center
    padding: 1em

    a
      color: $dark-gray
      padding-bottom: 5px
      cursor: pointer
      border-bottom: 0px solid $dark-gray
      +transition()

    .active
      border-bottom: 3px solid $dark-gray



  .course-list-container
    text-align: center
    +span-columns(12)
    +display(flex)
    +align-items(strech)
    +justify-content(space-around)
    +flex-wrap(wrap)

    .course-list
      padding: 1em

  .chart-container
    +display(flex)
    +justify-content(center)
    +align-items(stretch)
  .table-container
    +flex(2 2 20em)
    +align-self(center)
  .chart-canvas
    padding: 1em
    height: 350px
    width: 350px
    +flex(1 1 25em)