.education-hero
  @extend .top-hero
  +section-cover-background('https://iportalen-us.s3.amazonaws.com:443/static/iportalen/HERO.jpg')

.education-page
  padding-top: 1em
  text-align: center

  .introduction
    +outer-container()
    text-align: center
    .introduction-content
      +span-columns(12)
      text-align: center
      h1
        text-align: center
      p


