.education-hero
  @extend .top-hero
  +section-cover-background('https://iportalen-us.s3.amazonaws.com:443/static/iportalen/HERO.jpg')

.utbildning-intro
  +outer-container()
  padding: 1em
  padding-top: 5em
  padding-bottom: 5em

.section-header
  font-size: 3.5em
  color: $dark-gray
  text-align: center
.section-text
  line-height: 2em
  text-align: center
  color: $dark-gray



.program-graph-section
  background-color: $light-gray

  .program-graph
    +outer-container()
    padding: 1em
    padding-top: 5em
    padding-bottom: 5em

    .section-header
      font-size: 2.5em
      color: $dark-gray

    .program-selector
      height: 4em
      .choice
        +span-columns(6)
        display: block
        color: $dark-gray
        padding-right: 2em
        padding-left: 2em
        height: 4em

      .first
        border-right: solid 2px black
        text-align: right
        margin-right: 0
      .active
        color: $light-gray


    .program-info
      height: 500px

    #i-info
      display: block

    #ii-info
      display: none








    .chart-container
      padding: 2em
      .chart-title
        text-align: center
        font-size: 1.5em
        color: $dark-gray
      .chart-canvas
        margin-bottom: 1em
        height: 300px
        width: 300px




