section#top-page
  background: url("https://s3.eu-central-1.amazonaws.com/isektionen-bildbank/122.jpg") no-repeat center center fixed
  background-size: cover
  width: 100%

section#intro-page
  +outer-container()
  padding-top: 2em

  >div
    +span-columns(4 of 12)
    +shift(1)
    +omega(2n)
    h2
      text-align: center