#landing_content
  +outer-container()

  .background

  .logo
    width: 30%
    height: 30%


  .landing_section
    +span-columns(12)
    border-style: dotted
    border-width: 3px
    border-color: black
    color: white

    margin-top: 0em
    margin-bottom: 0em
    padding: 1em

  .welcome
    +span-columns(8)
    +shift(2)

    border-style: dotted
    border-width: 3px
    border-color: yellow
    text-align: center


  .choice_box
    +span-columns(8)
    +shift(2)

    border-style: dotted
    border-width: 3px
    border-color: green

  .choice
    +span-columns(4 of 8)

    text-align: center
    border-style: dotted
    border-width: 3px

    border-color: black

  .landing_usp
    +span-columns(8)
    +shift(2)

    border-style: dotted
    border-width: 3px
    border-color: red


