
#landing-background
  @include background(url("http://i.imgur.com/t73rP4Q.jpg"))
  background-attachment: fixed
  background-size: cover
  background-position: top center
  height: 100vh
  width: 100%
  margin-left: 0
  margin-right: 0
  z-index: -1


  #landing_container
    position: relative
    top: 2em
    background: rgba(0,0,0,0.6)
    z-index: 999
    +outer-container()


    .landing_section
      margin: 1em
      +span-columns(10)
      +shift(1)
      color: white

      .logo
        margin-top: 2em
        width: 20%
        height: 20%

      .welcome
        +span-columns(8)
        +shift(2)
        text-align: center

      .button-group
        +shift(3)
        z-index: 999999

      .landing_usp
        +span-columns(6)
        +shift(3)




