// -------------------------------------------------------------------
// Omega Reset for Bourbon Neat
//
// http://joshfry.me/notes/omega-reset-for-bourbon-neat
// -------------------------------------------------------------------

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter($grid-columns, $gutter); }
  &:nth-child(#{$nth}+1) { clear: none }
}
@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter($grid-columns, $gutter); }
  &:nth-child(#{$nth}+1) { clear: none }
}

@mixin section-cover-background($img-uri, $background-top:"center", $background-left:"center", $background-attachment:"fixed") {
  $hero-overlay-gradient: linear-gradient(rgba(black, 0.35), rgba(black, 0.35));
  background: {
    image: $hero-overlay-gradient, url($img-uri);
    position: unquote($background-top) unquote($background-left);
    attachment: unquote($background-attachment);
    size: cover;
  }

}