<section class="foretag-erbjudande">

    <div class="foretag-erbjudande-content">
        <h1 class="section-header" id="offers">Erbjudanden</h1>

        <section class="studentlife-image-gallery">
            <ul class="image-list-gallery">
                <li class="image-list-item offer-item-list">
                    <div class="card-image bullet-icon">
                        <i class="fa fa-handshake-o"></i>
                    </div>
                    <!-- <img class="card-image" src="https://s3.eu-central-1.amazonaws.com/isektionen-bildbank/studentlife-gallery/fest.jpg"> -->
                    <div class="card-caption">
                        <a class="card-caption-link">Samarbetspartner</a>
                    </div>
                    <div class="card-caption-expanded">
                        <h2>Huvudsponsor och samarbetspartner</h2>
                        <p>Sektionen för Industriell ekonomi kan erbjuda ett större samarbete som huvudsponsor alternativt samarbetspartner. Avtalet kan skräddarsys efter ert företags specifika behov och önskemål. Vi säkerhetsställer att våra samarbetspartners får löpande exponering mot våra studenter.</p>
                    </div>
                </li>
                <li class="image-list-item offer-item-list">
                    <div class="card-image bullet-icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <!-- <img class="card-image" src="https://s3.eu-central-1.amazonaws.com/isektionen-bildbank/studentlife-gallery/baljan.jpg"> -->
                    <div class="card-caption">
                        <a class="card-caption-link">Företagspresentationer</a>
                    </div>
                    <div class="card-caption-expanded">
                        <h2>Lunchpresentation</h2>
                        <p>En lunchpresentation innehåller:
                        <ul class="bullet-list">
                            <li>En föreläsning på universitetet under lunchen kl 12:15-13:00</li>
                            <li>I-sektionen marknadsför och administrerar arrangemanget.</li>
                            <li>Ett utmärkt tillfälle för en bred exponering mot studenter.</li>
                            <li>Vi bollar gärna tankar och idéer kring sätt att göra ett arrangemang som sticker ut och blir ihågkommet.</li>
                        </ul>
                        </p>
                        <h2>Event</h2>
                        <p>Anordna ett event på skolan, hos ert företag eller annan valfri plats för att få mer tid och kontakt med studenterna. Vanliga aktiviteter är t.ex. caselösning eller övningar i presentationsteknik, följt av middag eller annan social aktivitet.
                        <ul class="bullet-list">
                            <li>Inbjudan kan förmedlas till alla eller en specifik grupp studenter.</li>
                            <li>Vi bollar gärna tankar och idéer kring sätt att göra ett arrangemang som sticker ut och blir ihågkommet.</li>
                        </ul>
                        </p>
                        <h2>Sponsor till enskilda evenemang</h2>
                        <p>Under året arrangerar I-sektionen en mängd olika evenemang med mycket bra möjligheter till exponering. Exempel på evenemang som ert företag kan vara sponsor till är:
                        <ul class="bullet-list">
                            <li>Casetävlingar: Var med och utforma caset samt utgör juryn.</li>
                            <li>Sittningar: Kom närmare studenterna under avslappnade former och låt era representanter uppleva studentlivet igen.</li>
                            <li>Evenemang mot presumtiva I-studenter:
                                <ul class="bullet-list">
                                    <li>Gymnasiecaset, en casetävling för gymnasiestudenter.</li>
                                    <li>I-resan, en dag då gymnasielever besöker I-sektionen för att uppleva studentlivet. Exponera ert företag med en föreläsning eller med en monterplats.</li>
                                </ul>
                            </li>
                        </ul>
                        </p>
                    </div>
                </li>
                <li class="image-list-item offer-item-list">
                    <div class="card-image bullet-icon">
                        <i class="fa fa-newspaper-o"></i>
                    </div>
                    <!-- <img class="card-image" src="https://s3.eu-central-1.amazonaws.com/isektionen-bildbank/studentlife-gallery/nollep.jpg"> -->
                    <div class="card-caption">
                        <a class="card-caption-link">Marknadsföring</a>
                    </div>
                    <div class="card-caption-expanded">
                        <h2>Riktade e-postutskick</h2>
                        <p>Vi erbjuder möjligheten att skicka ut e-postutskick till studenter i olika årskurser, allt efter era önskemål. Utskicken är ett mycket bra sätt för ert företag att nå ut till våra medlemmar.</p>

                        <h2>Notis på webbplats</h2>
                        <p>Annonser på I-sektionens hemsida informerar om era specifika erbjudanden. Webbplatsen är välbesökt av våra studenter och är vår populäraste plattform för företagen att nå ut till I-studenter, <a href="https://www.i-portalen.se/">www.i-portalen.se</a>.</p>
                        <h2>Sektionstidning</h2>
                        <p>Ipikuré är en tidning som skickas ut till fler än 1000 studenter i olika årskurser på Industriell Ekonomi, via post men finns även tillgänglig i sektionens gemensamma rum/datasal. Tidningen skickas ut fyra gånger per år. Tidningen görs av en redaktion men där även alla studenter som vill bidra md reportage får möjlighet till det. Tidningen innehåller artiklar om studentlivet, studenter som gjort något speciellt, I- are som är ute i arbetslivet, loggor och annonser från företag osv. Vill ni ha mer insikt av vad tidningen innehåller kan exemplar mejlas.</p>
                        <h2>Karriärskatalog</h2>
                        <p>Varje år skickar vi ut en katalog ut till studenter i äldre årskurser – FullTime-katalogen. Denna katalog innehåller uppslag och inspiration på vad nyutexaminerade civilingenjörer inom Industriell Ekonomi har för karriärsmöjligheter.
                        <ul>
                            <li>FullTime-katalogen ges ut i december 2016 och riktar sig mot studenter i årskurs fyra och fem, men skickas även till prenumeranter i årskurs 1-3.</li>
                            <li>Katalogen är en bilaga till Ipikuré och når drygt 1000 studenter.</li>
                            <li>Ett utmärkt tillfälle för er att nå ut till alla I-studenter med intressanta jobberbjudanden.</li>
                        </ul>
                        </p>
                        <h2>Affischering</h2>
                        <p>Affischering på väl valda platser runt om på universitetet. Affischer postas till Linköping, varefter vi står för uppsättningen av dessa.</p>
                    </div>
                </li>
                <li class="image-list-item offer-item-list">
                    <div class="bullet-icon">
                        <i class="fa fa-briefcase"></i>
                    </div>
                   <!-- <img class="card-image" src="https://s3.eu-central-1.amazonaws.com/isektionen-bildbank/studentlife-gallery/cykla.jpg"> -->
                    <div class="card-caption">
                        <a class="card-caption-link">TEAM Arbetsmarknadsdagar</a>
                    </div>
                    <div class="card-caption-expanded">
                        <p>Team!</p>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</section>


<!--
        <div class="fade-in-elements">
            <div class="fade-in-element">

                <ul class="accordion-tabs">
                    <li class="tab-header-and-content">
                        <a href="javascript:void(0)" class="is-active tab-link">Samarbetspartner</a>
                        <div class="tab-content">
                            <h2>Huvudsponsor och samarbetspartner</h2>
                            <p>Sektionen för Industriell ekonomi kan erbjuda ett större samarbete som huvudsponsor alternativt samarbetspartner. Avtalet kan skräddarsys efter ert företags specifika behov och önskemål. Vi säkerhetsställer att våra samarbetspartners får löpande exponering mot våra studenter.</p>
                        </div>
                    </li>
                    <li class="tab-header-and-content">
                        <a href="javascript:void(0)" class="tab-link">Företagspresentation</a>
                        <div class="tab-content">
                            <h2>Lunchpresentation</h2>
                            <p>En lunchpresentation innehåller:
                            <ul class="bullet-list">
                                <li>En föreläsning på universitetet under lunchen kl 12:15-13:00</li>
                                <li>I-sektionen marknadsför och administrerar arrangemanget.</li>
                                <li>Ett utmärkt tillfälle för en bred exponering mot studenter.</li>
                                <li>Vi bollar gärna tankar och idéer kring sätt att göra ett arrangemang som sticker ut och blir ihågkommet.</li>
                            </ul>
                            </p>
                            <h2>Event</h2>
                            <p>Anordna ett event på skolan, hos ert företag eller annan valfri plats för att få mer tid och kontakt med studenterna. Vanliga aktiviteter är t.ex. caselösning eller övningar i presentationsteknik, följt av middag eller annan social aktivitet.
                            <ul class="bullet-list">
                                <li>Inbjudan kan förmedlas till alla eller en specifik grupp studenter.</li>
                                <li>Vi bollar gärna tankar och idéer kring sätt att göra ett arrangemang som sticker ut och blir ihågkommet.</li>
                            </ul>
                            </p>
                            <h2>Sponsor till enskilda evenemang</h2>
                            <p>Under året arrangerar I-sektionen en mängd olika evenemang med mycket bra möjligheter till exponering. Exempel på evenemang som ert företag kan vara sponsor till är:
                            <ul class="bullet-list">
                                <li>Casetävlingar: Var med och utforma caset samt utgör juryn.</li>
                                <li>Sittningar: Kom närmare studenterna under avslappnade former och låt era representanter uppleva studentlivet igen.</li>
                                <li>Evenemang mot presumtiva I-studenter:
                                    <ul class="bullet-list">
                                        <li>Gymnasiecaset, en casetävling för gymnasiestudenter.</li>
                                        <li>I-resan, en dag då gymnasielever besöker I-sektionen för att uppleva studentlivet. Exponera ert företag med en föreläsning eller med en monterplats.</li>
                                    </ul>
                                </li>
                            </ul>
                            </p>
                        </div>
                    </li>
                    <li class="tab-header-and-content">
                        <a href="javascript:void(0)" class="tab-link">Marknadsföring</a>
                        <div class="tab-content">
                            <h2>Riktade e-postutskick</h2>
                            <p>Vi erbjuder möjligheten att skicka ut e-postutskick till studenter i olika årskurser, allt efter era önskemål. Utskicken är ett mycket bra sätt för ert företag att nå ut till våra medlemmar.</p>

                            <h2>Notis på webbplats</h2>
                            <p>Annonser på I-sektionens hemsida informerar om era specifika erbjudanden. Webbplatsen är välbesökt av våra studenter och är vår populäraste plattform för företagen att nå ut till I-studenter, <a href="https://www.i-portalen.se/">www.i-portalen.se</a>.</p>
                            <h2>Sektionstidning</h2>
                            <p>Ipikuré är en tidning som skickas ut till fler än 1000 studenter i olika årskurser på Industriell Ekonomi, via post men finns även tillgänglig i sektionens gemensamma rum/datasal. Tidningen skickas ut fyra gånger per år. Tidningen görs av en redaktion men där även alla studenter som vill bidra md reportage får möjlighet till det. Tidningen innehåller artiklar om studentlivet, studenter som gjort något speciellt, I- are som är ute i arbetslivet, loggor och annonser från företag osv. Vill ni ha mer insikt av vad tidningen innehåller kan exemplar mejlas.</p>
                            <h2>Karriärskatalog</h2>
                            <p>Varje år skickar vi ut en katalog ut till studenter i äldre årskurser – FullTime-katalogen. Denna katalog innehåller uppslag och inspiration på vad nyutexaminerade civilingenjörer inom Industriell Ekonomi har för karriärsmöjligheter.
                            <ul>
                                <li>FullTime-katalogen ges ut i december 2016 och riktar sig mot studenter i årskurs fyra och fem, men skickas även till prenumeranter i årskurs 1-3.</li>
                                <li>Katalogen är en bilaga till Ipikuré och når drygt 1000 studenter.</li>
                                <li>Ett utmärkt tillfälle för er att nå ut till alla I-studenter med intressanta jobberbjudanden.</li>
                            </ul>
                            </p>
                            <h2>Affischering</h2>
                            <p>Affischering på väl valda platser runt om på universitetet. Affischer postas till Linköping, varefter vi står för uppsättningen av dessa.</p>

                        </div>
                    </li>
                    <li class="tab-header-and-content">
                        <a href="javascript:void(0)" class="tab-link">Team</a>
                        <div class="tab-content">
                            <p>Team!</p>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>


</section>
        -->