<section class="foretag-erbjudande-container">
    <h1 class="section-header" id="offers">Erbjudanden</h1>
    <div class="foretag-erbjudande-cards">
        <div class="foretag-erbjudande-card">
                <div class="action-button-icon">
                    <i class="fa fa-cutlery fa-4x icon" aria-hidden="true"></i>
                </div>
                <h2 class="foretag-erbjudande-small-title">LUNCHFÖRELÄSNING</h2>
                <p>En presentation eller föreläsning under lunchtid (kl 12:15-13:00) på universitetet. I&#8209sektionen
                    marknadsför och administrerar arrangemanget.</p>
        </div>
        <div class="foretag-erbjudande-card">
                <div class="action-button-icon">
                    <i class="fa fa-users fa-4x icon" aria-hidden="true"></i>
                </div>
                <h2 class="foretag-erbjudande-small-title">EVENT</h2>
                <p>Anordna ett event på skolan, hos ert företag eller annan valfri plats för att få mer tid och
                    kontakt med studenterna. Vanliga aktiviteter är t.ex. caselösning eller övningar i
                    presentationsteknik följt av middag eller annan social aktivitet. Inbjudan kan förmedlas till
                    alla eller en specifik grupp studenter.</p>
        </div>
        <div class="foretag-erbjudande-card">
                <div class="action-button-icon">
                    <i class="fa fa-envelope fa-4x icon" aria-hidden="true"></i>
                </div>
                <h2 class="foretag-erbjudande-small-title">MEJLUTSKICK</h2>
                <p>Gör ett e&#8209postutskick till studenter i olika årskurser för att informera om kommande event,
                    specifika tjänster eller karriärmöjligheter hos ert företag.</p>
        </div>
        <div class="foretag-erbjudande-card">
                <div class="action-button-icon">
                    <i class="fa fa-briefcase fa-4x icon" aria-hidden="true"></i>
                </div>
                <h2 class="foretag-erbjudande-small-title">TEAM-DAGARNA</h2>
                <p>Team&#8209dagarna arrangeras i september och är arbetsmarknadsdagar arrangerade av
                    sektionen för Industriell ekonomi samt Ekonomiföreningen vid Linköpings universitet.
                    Medverkan innebär bland annat en egen monter, möjlighet att träffa över 4000 studenter
                    under en eller två dagar samt deltagande på bankett och mingelkväll.</p>
        </div>
        <div class="foretag-erbjudande-card">
                <div class="action-button-icon">
                    <i class="fa fa-envelope fa-4x icon" aria-hidden="true"></i>
                </div>
                <h2 class="foretag-erbjudande-small-title">SPONSRING VID ENSKILDA EVENEMANG</h2>
                <p>I-sektionen arrangerar en mängd olika event under året med möjligheter till exponering mot
                    olika typer av studenter. Exempel på evenemang som ert företag kan vara sponsor till är
                    casetävlingar, sittningar samt evenemang mot presumtiva I&#8209studenter. Kontakta oss för mer
                    information!</p>
        </div>
    </div>
    <div>
        <div class="foretag-erbjudande-card">
                <div class="action-button-icon">
                    <i class="fa fa-certificate fa-4x icon" aria-hidden="true"></i>
                </div>
                <h2 class="foretag-erbjudande-small-title">ANNONSERA</h2>
                <h2>Annons på Webbplats &amp; Facebook</h2>
                <p>Anonsera på I-sektionens hemsida I-portalen (www.i-portalen.se). Webbplatsen är välbesökt
                    av sektionens studenter och en populär plattform att informera om event specifika tjänster
                    eller karriärmöjligheter. Utöver detta görs även ett inlägg med samma material I-sektionens
                    Näringslivsutskotts Facebooksida.</p>
                <br>
                <h2>Annons i sektionstidning</h2>
                <p>Annonsera i Industriell ekonomis egna tidning Ipikuré. Tidningen utkommer fyra gånger per
                    år och skickas ut till sektionens alla medlemmar via post. Den innehåller kåserier om
                    studentlivet, reportage från Iare ute i arbetslivet, annonser från företag m.m. och är en
                    utmärkt plats att synas för studenter i alla årskurser.</p>
            </div>
    </div>
</section>