<section class="foretag-erbjudande">
    <div class="foretag-erbjudande-content">
        <h1 class="section-header" id="offers">Erbjudanden</h1>
        <a onclick="anchor(this)" href="#samarbetspartner">
            <div class="action-button">
                <div class="action-button-icon">
                    <i class="fa fa-envelope fa-2x" aria-hidden="true" ></i>
                </div>
                <div class="action-button-text">
                    Samarbetspartner
                </div>
            </div>
        </a>
        <a onclick="anchor(this)" href="#samarbetspartner">
            <div class="action-button">
                <div class="action-button-icon">
                    <i class="fa fa-envelope fa-2x" aria-hidden="true" ></i>
                </div>
                <div class="action-button-text">
                    Företagspresentationer
                </div>
            </div>
        </a>

        <a onclick="anchor(this)" href="#samarbetspartner">
             <div class="action-button">
                <div class="action-button-icon">
                    <i class="fa fa-envelope fa-2x" aria-hidden="true" ></i>
                </div>
                <div class="action-button-text">
                    Marknadsföring
                </div>
            </div>
        </a>

        <a onclick="anchor(this)" href="#samarbetspartner">
             <div class="action-button">
                <div class="action-button-icon">
                    <i class="fa fa-envelope fa-2x" aria-hidden="true" ></i>
                </div>
                <div class="action-button-text">
                    TEAM
                </div>
            </div>
        </a>
    </div>
</section>