<section class="foretag-exponering">
    <div class="foretag-exponering-content">
        <h1 class="section-header">Vill ert företag synas mer mot I:are?</h1>
        <p class="section-text">Utbildningen i Industriell ekonomi vid Linköpings universitet är den första av sitt slag
            i Sverige, och vi representerar fler I-studenter än något annat lärosäte. Det gör att vi kan ge ert företag
            mycket goda förutsättningar att hitta nya, duktiga talanger. Nedan följer några exempel på vad vi kan
            erbjuda. Kontakta oss gärna om du vill veta mer.</p>
        <ul class="bullet-list">
            <li>Vill ert företag synas mer mot I:are?</li>
            <li>Huvudsponsor och samarbetspartner</li>
            <li>Lunchpresentation</li>
            <li>Event</li>
            <li>Sponsor till enskilda evenemang</li>
            <li>Riktade e-postutskick</li>
            <li>Notis på webbplats</li>
            <li>Sektionstidning</li>
            <li>Karriärskatalog</li>
            <li>Affischering</li>
            <li>Deltagande på TEAM arbetsmarknadsdagar</li>
            <li>Kontakta oss</li>
        </ul>

    </div>
</section>