<section class="foretag-exponering">
    <div class="foretag-exponering-content">
        <h1 class="exponering-heading">Vill ert företag synas mer mot I:are?</h1>
        <hr class="exponering-divider">
        <p class="exponering-text">Utbildningen i Industriell ekonomi vid Linköpings universitet är den första av sitt slag
            i Sverige, och vi representerar fler I-studenter än något annat lärosäte. Det gör att vi kan ge ert företag
            mycket goda förutsättningar att hitta nya, duktiga talanger. Nedan följer några exempel på vad vi kan
            erbjuda. Kontakta oss gärna om du vill veta mer.</p>
        <a href="#offers"><div class="action-button">Erbjudanden</div></a>
    </div>
</section>