<section class="foretag-foretagspresentationer">
    <div class="foretag-foretagspresentationer-content">
        <h1 id="foretagspresentationer">Företagspresentationer</h1>
        <h2>Lunchpresentation</h2>
        <p>En lunchpresentation innehåller:
        <ul class="bullet-list">
            <li>En föreläsning på universitetet under lunchen kl 12:15-13:00</li>
            <li>I-sektionen marknadsför och administrerar arrangemanget.</li>
            <li>Ett utmärkt tillfälle för en bred exponering mot studenter.</li>
            <li>Vi bollar gärna tankar och idéer kring sätt att göra ett arrangemang som sticker ut och blir ihågkommet.</li>
        </ul>
        </p>
        <h2>Event</h2>
        <p>Anordna ett event på skolan, hos ert företag eller annan valfri plats för att få mer tid och kontakt med studenterna. Vanliga aktiviteter är t.ex. caselösning eller övningar i presentationsteknik, följt av middag eller annan social aktivitet.
        <ul class="bullet-list">
            <li>Inbjudan kan förmedlas till alla eller en specifik grupp studenter.</li>
            <li>Vi bollar gärna tankar och idéer kring sätt att göra ett arrangemang som sticker ut och blir ihågkommet.</li>
        </ul>
        </p>
        <h2>Sponsor till enskilda evenemang</h2>
        <p>Under året arrangerar I-sektionen en mängd olika evenemang med mycket bra möjligheter till exponering. Exempel på evenemang som ert företag kan vara sponsor till är:
        <ul class="bullet-list">
            <li>Casetävlingar: Var med och utforma caset samt utgör juryn.</li>
            <li>Sittningar: Kom närmare studenterna under avslappnade former och låt era representanter uppleva studentlivet igen.</li>
            <li>Evenemang mot presumtiva I-studenter:
                <ul class="bullet-list">
                    <li>Gymnasiecaset, en casetävling för gymnasiestudenter.</li>
                    <li>I-resan, en dag då gymnasielever besöker I-sektionen för att uppleva studentlivet. Exponera ert företag med en föreläsning eller med en monterplats.</li>
                </ul>
            </li>
        </ul>
        </p>
    </div>
</section>