<section class="foretag-information">

    <div class="foretag-information-content">

        <h1 class="section-header">Vad är industriell ekonomi?</h1>

        <div class="fade-in-elements">

            <div class="fade-in-element">
                <h2>Näringslivskontakt</h2>
                <p>Industriell ekonomi vid Linköpings universitet har en lång tradition av tät kontakt med näringslivet. Faktum är att utbildningen skapades på 60-talet som en följd av att näringslivet efterfrågade en länk mellan ekonomer och tekniker. Detta är än i dag en central utgångspunkt i utbildningen - kurser i ekonomi och ledarskap varvas med tekniska kurser, vilket ger I:aren mycket goda förutsättningar till en...</p>
            </div>

            <div class="fade-in-element"">
                <h2>Stor kompetensbredd</h2>
                <p>Under de två sista åren av utbildningen väljer studenterna ett område som de specialiserar sig inom. Det finns ett stort antal profiler att välja bland, till exempel strategi, finans och logistik. Dessa innebär...</p>
            </div>

            <div class="fade-in-element"">
                <h2>Verklighetsförankring</h2>
                <p>Två viktiga inslag i utbildningen är att studenten tillbringar en stor del av sin tid att dels arbeta i projektform...</p>
            </div>

        </div>
    </div>

</section>