<section class="foretag-information">

    <div class="foretag-information-content">

        <h1 class="section-header">Varför industriell ekonomi?</h1>

        <div class="fade-in-elements">

            <div class="fade-in-element" style="max-width: 20em">
                <h2>Storlek</h2>
                <p>Vi representerar fler I-studenter än något annat lärosäte och har det största alumninätverket av sitt slag.</p>

            </div>

            <div class="fade-in-element" style="max-width: 20em">
                <h2>Bredd</h2>
                <p>Utbildningen är unik genom att den kombinerar teknik med ledarskap och ekonomi.</p>
            </div>

            <div class="fade-in-element" style="max-width: 20em">
                <h2>Förmåga</h2>
                <p>Studenter vid Industriell ekonomi har visat sig lyckas mycket bra inom såväl näringsliv som offentlig sektor.</p>
            </div>

        </div>
    </div>

</section>