<section class="foretag-inledning">
    <div class="inledning-wrapper">
        <div class="foretag-inledning-content">
            <h1 class="inledning-heading">Vill ert företag synas mer mot I:are?</h1>
            <hr class="inledning-divider">
            <p class="inledning-text">Utbildningen i Industriell ekonomi vid Linköpings universitet är den första av sitt slag i
Sverige, och vi representerar fler I-studenter än något annat lärosäte. Det gör att vi kan ge
ert företag mycket goda förutsättningar att hitta nya, duktiga talanger. Nedan följer några
exempel på vad vi kan erbjuda. Kontakta oss gärna om du vill veta mer eller har egna idéer!</p>
            <a onclick="anchor(this)" href="#offers"><div class="action-button">Visa erbjudanden</div></a>
        </div>
    </div>
</section>