<section class="foretag-contact">

    <div class="foretag-contact-content">

        <h1 class="section-header">Kontakta oss</h1>

        <!--hr class="contact-divider"-->
        <div class="card-container">
            <div class="card">
                <p>Näringslivsutskottet</p>
                <hr class="contact-divider">
                <div class="card-text">
                    <p>Kontakta oss om du vill veta mer om våra erbjudanden.</p>
                    <p><u>Mail</u>: naro@isektionen.se</p>
                </div>
            </div>
        </div>
    </div>

</section>