<section class="foretag-contact">

    <div class="foretag-contact-content">
        <h1 id="contact-header" class=section-header">Kontaktinformation</h1>
        <p class="section-text">Hejhej, här ska det finnas lite fnfin information om hur man tar kontakt med NärU på ett enkelt sätt!</p>
    </div>
     <section class="studentlife-image-gallery">
            <ul class="image-list-contact">
                <li class="image-list-item offer-item-list">
                    <div class="card-image bullet-icon">
                        <i class="fa fa-handshake-o"></i>
                    </div>
                    <!-- <img class="card-image" src="https://s3.eu-central-1.amazonaws.com/isektionen-bildbank/studentlife-gallery/fest.jpg"> -->
                    <div class="card-caption">
                        <p>Jonas Ridderström</p>
                    </div>
                    <div class="card-caption-expanded">
                        <h2>Huvudsponsor och samarbetspartner</h2>
                        <p>Sektionen för Industriell ekonomi kan erbjuda ett större samarbete som huvudsponsor alternativt samarbetspartner. Avtalet kan skräddarsys efter ert företags specifika behov och önskemål. Vi säkerhetsställer att våra samarbetspartners får löpande exponering mot våra studenter.</p>
                    </div>
                </li>
                  <li class="image-list-item offer-item-list">
                    <div class="card-image bullet-icon">
                        <i class="fa fa-handshake-o"></i>
                    </div>
                    <!-- <img class="card-image" src="https://s3.eu-central-1.amazonaws.com/isektionen-bildbank/studentlife-gallery/fest.jpg"> -->
                    <div class="card-caption">
                        <a class="card-caption-link">Samarbetspartner</a>
                    </div>
                    <div class="card-caption-expanded">
                        <h2>Huvudsponsor och samarbetspartner</h2>
                        <p>Sektionen för Industriell ekonomi kan erbjuda ett större samarbete som huvudsponsor alternativt samarbetspartner. Avtalet kan skräddarsys efter ert företags specifika behov och önskemål. Vi säkerhetsställer att våra samarbetspartners får löpande exponering mot våra studenter.</p>
                    </div>
                </li>
                  <li class="image-list-item offer-item-list">
                    <div class="card-image bullet-icon">
                        <i class="fa fa-handshake-o"></i>
                    </div>
                    <!-- <img class="card-image" src="https://s3.eu-central-1.amazonaws.com/isektionen-bildbank/studentlife-gallery/fest.jpg"> -->
                    <div class="card-caption">
                        <a class="card-caption-link">Samarbetspartner</a>
                    </div>
                    <div class="card-caption-expanded">
                        <h2>Huvudsponsor och samarbetspartner</h2>
                        <p>Sektionen för Industriell ekonomi kan erbjuda ett större samarbete som huvudsponsor alternativt samarbetspartner. Avtalet kan skräddarsys efter ert företags specifika behov och önskemål. Vi säkerhetsställer att våra samarbetspartners får löpande exponering mot våra studenter.</p>
                    </div>
                </li>
            </ul>
     </section>

</section>