<section class="foretag-contact">

    <div class="foretag-contact-content">
        <hr class="contact-divider">
    </div>
    <section class="studentlife-image-gallery">
        <ul class="image-list-contact">
            <li class="image-list-item offer-item-list">
                <div class="card-image">
                    <img src="https://www.cheme.cornell.edu/engineering/customcf/iws_ai_faculty_display/ai_images/mjp31-profile.jpg"></img>
                </div>
                <!-- <img class="card-image" src="https://s3.eu-central-1.amazonaws.com/isektionen-bildbank/studentlife-gallery/fest.jpg"> -->
                <div class="card-caption">
                    <p>Jonas Ridderström</p>
                    <hr class="contact-divider">
                    <div class="card-text">
                        <p>Kontakta mig om: Du vill fortskrida med ett samarbete.</p>
                        <p>Post: Ordförande</p>
                        <p>Mail: naro@isektionen.se</p>
                        <p>tel: 073-123 435 12</p>
                    </div>
                </div>
            </li>
            <li class="image-list-item offer-item-list">
                <div class="card-image">
                    <img src="https://www.cheme.cornell.edu/engineering/customcf/iws_ai_faculty_display/ai_images/mjp31-profile.jpg"></img>
                </div>
                <!-- <img class="card-image" src="https://s3.eu-central-1.amazonaws.com/isektionen-bildbank/studentlife-gallery/fest.jpg"> -->
                <div class="card-caption">
                    <p>Elsa Järbur</p>
                    <hr class="contact-divider">
                    <div class="card-text">
                        <p>Kontakta mig om: Du har frågor om företagsgruppen.</p>
                        <p>Post: Kontaktperson företagsgruppen</p>
                        <p>Mail: samarbetspartner@isektionen.se</p>
                        <p>tel: 073-123 435 12</p>
                    </div>
                </div>
            </li>
            <li class="image-list-item offer-item-list">
                <div class="card-image">
                    <img src="https://www.cheme.cornell.edu/engineering/customcf/iws_ai_faculty_display/ai_images/mjp31-profile.jpg"></img>
                </div>
                <!-- <img class="card-image" src="https://s3.eu-central-1.amazonaws.com/isektionen-bildbank/studentlife-gallery/fest.jpg"> -->
                <div class="card-caption">
                    <p>Erika Johansson</p>
                    <hr class="contact-divider">
                    <div class="card-text">
                        <p>Kontakta mig om: Du har frågor om samarbete med I-sektionen.</p>
                        <p>Post: Externa kontakter</p>
                        <p>Mail: info.naru@isektionen.se</p>
                        <p>tel: 073-123 435 12</p>
                    </div>
                </div>
            </li>
        </ul>
    </section>

</section>