<section class="foretag-samarbetsparnter">
    <div class="foretag-samarbetsparnter-content">
        <h1 class="section-header" id="samarbetspartner">Samarbetspartner</h1>
        <h2>Samarbetspartner</h2>
        <h2>Huvudsponsor och samarbetspartner</h2>
        <p>Sektionen för Industriell ekonomi kan erbjuda ett större samarbete som huvudsponsor alternativt samarbetspartner. Avtalet kan skräddarsys efter ert företags specifika behov och önskemål. Vi säkerhetsställer att våra samarbetspartners får löpande exponering mot våra studenter.</p>
    </div>
</section>