<section class="foretag-team">
    <div class="foretag-team-content">
        <h1 class="card-caption-link">TEAM Arbetsmarknadsdagar</h1>
        <p>TEAM är en av Sveriges största arbetsmarknadsmässor där ambitiösa studenter möter
            eftertraktade arbetsgivare. Omkring 4000 studenter besöker årligen mässan för att lära sig
            mer om de cirka 80 utställande företagen. Syftet med mässan är att sammanföra företag och
            studenter – som utställande företag får ni därmed en möjlighet att möta några av Sveriges
            mest eftertraktade studenter.</p>
    </div>
</section>