{% extends 'master.html' %}
{% block content %}
    <section class="blog-hero">
        <div class="hero-content">
            <h1 class="hero-heading">Sektionsbloggen</h1>
            <hr class="hero-divider">
            <p class="hero-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In schola desinis.
                Quod quidem iam fit etiam in Academia. Zenonis est, inquam, hoc Stoici. Nondum autem explanatum satis, erat,
                quid maxime natura vellet. Duo Reges: constructio interrete. At ego quem huic anteponam non audeo dicere;
            </p>
        </div>
    </section>
    <section class="blog-meny">
        <div class="blogg-pagination">
                <span class="step-links">
                    {% if blog_entries.has_previous %}
                        <a href="?page={{ blog_entries.previous_page_number }}">Föregående</a>
                    {% endif %}

                    <span class="current">
                        Sida {{ blog_entries.number }} av {{ blog_entries.paginator.num_pages }}.
                    </span>

                    {% if blog_entries.has_next %}
                        <a href="?page={{ blog_entries.next_page_number }}">Nästa</a>
                    {% endif %}
                </span>
        </div>            <!--Här borde det ligga länkar till arkiv, ev sortera efter taggar mm -->

    </section>

    {% for entry in blog_entries %}
        <section class="blog-entry-container">
            <article class="single_blog_entry blog-entry">
                <a href="{% url "view_one_blog_entry" entry.pk %}"><h1>{{ entry.title }}</h1></a>
                <h2>{{ entry.lead }}</h2>
                <p class="date">{{ entry.publishedDate }}</p>
                <p>
                    {{ entry.body }}
                </p>
                <a class="button" href="{% url "view_one_blog_entry" entry.pk %}">Läs mer</a>
                <hr>
                <p class="author">{{ entry.author }}</p>
            </article>
        </section>

        <hr class="blogg-entry-divider">

    {% endfor %}


    <div class="blogg-pagination">
            <span class="step-links">
                {% if blog_entries.has_previous %}
                    <a href="?page={{ blog_entries.previous_page_number }}">Föregående</a>
                {% endif %}

                <span class="current">
                    Sida {{ blog_entries.number }} av {{ blog_entries.paginator.num_pages }}.
                </span>

                {% if blog_entries.has_next %}
                    <a href="?page={{ blog_entries.next_page_number }}">Nästa</a>
                {% endif %}
            </span>
    </div>


{% endblock %}