{% extends 'master.html' %}
{% block links %}
        <li class="nav-link"><a href="{% url 'sokande' %}">Sökande</a></li>
    <li class="nav-link"><a href="{% url 'foretag' %}">Företag</a></li>
{% endblock %}

{% block content %}
     <section class="blog-hero">
        <div class="hero-content">
            <h1 class="hero-heading">Sektionsbloggen</h1>
            <hr class="hero-divider">
            <p class="hero-text">Vad kul att du hittat till sektionsbloggen! Här skriver studenter om vad som händer i skolan och runt omrking.
                Få en inblick i studentens vardag och information om event vi håller för sökande studenter.
            </p>
        </div>
    </section>
    <section class="blog-entry-container">
        <article class="single_blog_entry blog-entry">
            <h1>{{ blog_entry.title }}</h1>
            <h2>{{ blog_entry.lead }}</h2>
            <p class="date">{{ blog_entry.publishedDate }}</p>
            <p>
                {{ blog_entry.body }}
            </p>

            <hr>
            <p class="author">{{ blog_entry.author }}</p>
        </article>
    </section>



{% endblock %}
